<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoCo - 후기 게시판</title>

    <!-- Custom fonts for this template -->
    <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/sb-admin-2.min.css" rel="stylesheet">
	
	<!-- 제이쿼리 적용 -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- 사이드 바 시작 -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
				<div class="sidebar-brand-text mx-3">Covid Community</div>
			</a>
			
			<!-- Divider -->
			<hr class="sidebar-divider">

			<li class="nav-item">
				<a class="nav-link" th:href="@{/}">
					<i class="fas fa-home"></i>
					<span>홈</span>
				</a>
			</li>

			<!-- Nav Item - Tables -->
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/review/list}">
					<i class="fas fa-fw fa-table"></i>
					<span>후기 게시판</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" th:href="@{/defStatus}">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>발생현황</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/vaccinationStatus}">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>접종현황</span></a>
			</li>
			<div th:if="${userInfo}">
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#myPageDetail"
						aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-user"></i>
						<span>마이페이지</span>
					</a>
					<div id="myPageDetail" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">계정</h6>
							<a class="collapse-item" th:href="@{../../myPage/myInfo}">내정보 관리</a>
							<h6 class="collapse-header">글 관리</h6>
							<a class="collapse-item" th:href="@{../../myPage/myBoardList}">내가 쓴 글</a>
							<a class="collapse-item" th:href="@{../../myPage/myComment}">내 댓글</a>
							<a class="collapse-item" th:href="@{../../myPage/myLike}">좋아요 누른 글</a>
						</div>
					</div>
				</li>
			</div>
			<div th:if="${userInfo}">
				<div th:if="${userInfo.userRole == 'ROLE_ADMIN'}">
					<li class="nav-item">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#adminPageDetail"
							aria-expanded="true" aria-controls="collapseTwo">
							<i class="fas fa-fw fa-cog"></i>
							<span>관리자페이지</span>
						</a>
						<div id="adminPageDetail" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded">
								<a class="collapse-item" th:href="@{../../admin/userManagement}">유저 관리</a>
								<a class="collapse-item" th:href="@{../../admin/boardManagement}">게시글 관리</a>
							</div>
						</div>
					</li>
				</div>
			</div>
		</ul>
		<!-- 사이드 바 끝 -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- 상단 네비바 시작 -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<ul class="navbar-nav ml-auto">
						<!-- Nav Item - Alerts -->
						<div th:if="${userInfo}">
							<!-- 회원 닉네임 보이는 구역 시작 -->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<div th:if="${userInfo}">
										<span th:text="${userInfo.userNickName}" style="color: black;" class="mr-2"></span>
									</div>
								</a>
								<!-- 닉네임 클릭시 드롭다운 -->
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
									aria-labelledby="userDropdown">
									<a class="dropdown-item" th:href="@{/myPage/myInfo}">
										<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
										마이페이지
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" data-toggle="modal" style="cursor: pointer;" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										로그아웃
									</a>
								</div>
							</li>
							<!-- 회원 닉네임 보이는 구역 끝 -->
						</div>
						<div th:unless="${userInfo}">
							<a class="mt-4 mr-3" id="logInTxt" style="cursor: pointer;" th:href="@{/login}">로그인</a>
							<a class="mt-4" id="signUpTxt" style="cursor: pointer;" th:href="@{/register}">회원가입</a>
						</div>
					</ul>
				</nav>
				<!-- 상단 네비바 끝 -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-body">
                        	
                        	<div class="row">
                        		<div class="col">
                        			<h3 id="vaccineBadge"></h3>
                        		</div>
                        		<div class="col" id="rbUpdateDelete" style="text-align: right;">
                        			
                        		</div>
                        	</div>
	                        
	                        
	                        <div style="text-align: center;">
	                        	<h3 id="rbTitle"></h3>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-7">
	                        		<h5><span id="rbWriter"></span></h5>
	                        	</div>
	                        	<div class="col-md-5" style="text-align: right;">
		                        	<span>조회수</span>&nbsp;<span class="mr-2" id="rbViewCnt"></span>
		                        	<span>좋아요</span>&nbsp;<span class="mr-2" id="rbLikeCnt"></span>
	                        		<span>댓글</span>&nbsp;<span id="topCmtCnt">0</span>
	                        	</div>
	                        </div>
	                        
	                        <hr>
	                        <div class="row">
		                        <div class="col" style="text-align: right;">
		                        	<span id="rbRegisterDate"></span>
		                        </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col">
	                        		<div class="m-5">
	                        			<span  id="rbContent" style="font-size: 20px"></span>
	                        		</div>
	                        		<div class="text-center mb-5">
	                        			<img id="rbFilePath" src="" style="max-width: 80%; max-height: 80%"/>
	                        		</div>
	                        		<div class="feeling_div">
										<div class="text-center mb-4">
											<a type="button" class="btn btn-primary" id="moveList">목록으로</a>
											<button type="button" class="btn btn-outline-danger" id="likeBtn">
												<i class="fa fa-heart"> 좋아요</i>
											</button>
										</div>
									</div>
	                        		
	                        	</div>
	                        </div>
	                        
	                        <hr>
	                        
	                        <div class="row">
	                        	<div class="col">
	                        		<h4>댓글 <span id="cmtCnt">0</span></h4>
	                        	</div>
	                        </div>
	                        <div class="row">
	                        	<div class="col">
	                        		<div class="input-group mb-3">
									  <input type="text" class="form-control" id="rcContent" placeholder="댓글을 입력해주세요." style="height: 50px">
									  
									  <input th:if="${userInfo}" type="hidden" th:value="${userInfo.userId}" id="rcWriter">
									  <div class="input-group-append">
									    <button class="btn btn-outline-secondary" type="button" id="rcSubBtn">작성</button>
									  </div>
									</div>
	                        	</div>
	                        </div>
	                        
	                        <div class="row">
	                        	<div class="col">
	                        		<table class="table">
									  <tbody id="cmtBody"></tbody>
									</table>
	                        	</div>
	                        </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- 푸터 시작 -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; CovidCommunity 2022</span>
					</div>
				</div>
			</footer>
			<!-- 푸터 끝 -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- 로그아웃 모달 -->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">정말 로그아웃 하시겠습니까?</div>
				<div class="modal-footer">
					<a class="btn btn-primary" th:href="@{/logout}">확인</a>
					<button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- 대댓글 작성 Modal 시작 -->
	<div class="modal fade" id="cmtModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title"><span id="reTitle">댓글의 댓글 작성</span></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<!-- 대댓글 input 시작 -->
	      	<div class="input-group mb-3">
			  <input type="text" class="form-control" id="rcReContent" placeholder="댓글을 입력해주세요." style="height: 50px">
			  <input th:if="${userInfo}" type="hidden" th:value="${userInfo.userId}" id="rcWriter">
			  <input th:if="${userInfo}" type="hidden" th:value="${userInfo.userRole}" id="userRole">
			  <input type="hidden" th:value="${boardId}" id="boardId">
			  <input type="hidden" id="rcReRef">
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary" type="button" id="rcReSubBtn">작성</button>
			  </div>
			</div>
			<!-- 대댓글 input 끝 -->
			<button type="button" class="btn btn-secondary" id="closeModal" data-dismiss="modal" style="display: none;">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 대댓글 작성 Modal 끝 -->
	
	<!-- 대댓글 수정 Modal 시작 -->
	<div class="modal fade" id="cmtUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title"><span>댓글 수정</span></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<!-- 대댓글 input 시작 -->
	      	<div class="input-group mb-3">
			  <input type="text" class="form-control" id="rcReUpdateContent" placeholder="댓글을 입력해주세요." style="height: 50px">
			  <input type="hidden" id="rcId">
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary" type="button" id="rcUpdateSubBtn">작성</button>
			  </div>
			</div>
			<!-- 대댓글 input 끝 -->
			<button type="button" class="btn btn-secondary" id="closeUpdateModal" data-dismiss="modal" style="display: none;">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 대댓글 수정 Modal 끝 -->
	
	<!-- 댓글 삭제 Modal 시작 -->
	
	<!-- Modal -->
	<div class="modal fade" id="cmtDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title"><span>댓글 삭제</span></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <span>댓글을 삭제 하시겠습니까?</span>
	        <input type="hidden" id="rcDeleteId">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" id="rcDeleteSubBtn">삭제</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeDeleteModal">취소</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- 댓글 삭제 Modal 끝 -->
	
	
	<script>
		let boardId = "[[${boardId}]]";
		let rcWriter = $('#rcWriter').val();
		let userRole = $('#userRole').val();
		
		console.log('userRole : ', userRole);
		console.log('boardId : ', boardId);
		console.log('rcWriter : ', rcWriter);
		
		$(document).ready(function() {
			// 게시글 조회수 증가시키는 ajax 시작
			$.ajax({
				type : 'POST',
				url : '../api/boardViewCnt',
				data : boardId,
				contentType: "application/json; charset=UTF-8",
				dataType :'json',
				success : function(data) {
					console.log("data:: ", data);
					
					boardDetail();
					
	            },
	            error : function(error) {
	            	console.log("error :: ", error);
	            }
			});
			// 게시글 조회수 증가시키는 ajax 끝
			
			// 게시글 정보 가져오기 시작
			function boardDetail() {
				let url = "";
				
				if(rcWriter == null){
					url = '../api/boardDetail?boardId='+boardId
				} else {
					url = '../api/boardDetail?boardId='+boardId+'&rcWriter='+rcWriter
				}
				
				$.ajax({
					type : 'GET',
					// url : '../api/boardDetail?boardId='+boardId,
					url : url,
					// data : boardId,
					dataType :'json',
					success : function(data) {
						console.log("data :: ", data);
						
						let detail = data.boardDetail;
						let likeCnt = data.likeCnt;
						
						if(rcWriter != null){
							console.log('likeActive 정보 있음');
							let likeActive = data.likeActive;
							
							if(likeActive == 1){
								$('#likeBtn').addClass("active");
							} else {
								$('#likeBtn').removeClass("active");
							}
						}
						
						
						let likeActive = data.likeActive;
						let rbRegisterDate = data.boardDetail.rbRegisterDate.substring(0,10);
						
						
						switch (detail.rbVaccineKind) {
						  case '1':
							  $('#vaccineBadge').html(`<span class="badge badge-warning">화이자</span>`);
						    break;
						  case '2':
							  $('#vaccineBadge').html(`<span class="badge badge-primary">모더나</span>`);
						    break;
						  case '3':
							  $('#vaccineBadge').html(`<span class="badge badge-success">얀센</span>`);
						    break;
						  case '4':
							  $('#vaccineBadge').html(`<span class="badge badge-info">아스트라제네카</span>`);
						    break;
						}
						
						$('#rbTitle').text(detail.rbTitle);
						$('#rbContent').text(detail.rbContent);
						$('#rbWriter').text(detail.uNickName);
						$('#rbRegisterDate').text(rbRegisterDate);
						$('#rbViewCnt').text(detail.rbViewCnt);
						$('#rbLikeCnt').text(detail.rbLikeCnt);
						$('#rbFilePath').attr("src", detail.rbFilePath);
						$('#rbLikeCnt').text(likeCnt);
						
						if(detail.rbWriter == rcWriter || userRole == "ROLE_ADMIN"){
							let updateDeleteHtml = "";
							
							updateDeleteHtml += `<span onclick="location.href='../../review/update/${detail.rbId}'" style="cursor: pointer;">수정</span> / <span id="deleteSub" style="cursor: pointer;">삭제</span>`;
							
							$('#rbUpdateDelete').html(updateDeleteHtml);
						}
						
						// 삭제버튼 클릭						
						$('#deleteSub').click(function(){
							$.ajax({
								type : 'PUT',
								url : '../api/boardDelete',
								data : boardId,
								contentType: "application/json; charset=UTF-8",
								dataType :'json',
								success : function(data) {
									console.log("data:: ", data);
									if(data == 1){
										alert('게시글 삭제 완료');
										if(document.referrer == 'http://localhost:8080/myPage/myBoardList'){
											location.href='../../myPage/myBoardList'
										}else {
											location.href='../../review/list'	
										}
									}else{
										alert('게시글 삭제 실패');
									}
					            },
					            error : function(error) {
					            	console.log("error :: ", error);
					            }
							});
							
						});
		            },
		            error : function(error) {
		            	console.log("error :: ", error);
		            }
				});
			}
			// 게시글 정보 가져오기 끝
			
			// 댓글 작성 메소드 시작
			function rcWrite() {
				let rcContent = $('#rcContent').val(); 
				let rcBoard = boardId;
				
				if(rcContent == ""){
					alert('댓글을 입력해주세요.')
					$('#rcContent').focus();
					return false;
				}
				
				console.log('rcWriter : ',rcWriter);
				if(rcWriter != null && rcWriter != ""){
					let rcInfo = {
						rcContent,
						rcBoard,
						rcWriter
					};
					
					console.log(rcInfo);
					
					$.ajax({
						type : 'POST',
						url : '../../comment/api/write',
						data : JSON.stringify(rcInfo),
						contentType: "application/json; charset=UTF-8",
						dataType :'json',
						success : function(data) {
							console.log("data:: ", data);
							if(data == 1){
								alert('댓글이 작성 되었습니다.');
								$('#rcContent').val('');
								getCmtList();
							} else {
								alert('댓글 작성 실패');
							}
							
			            },
			            error : function(error) {
			            	console.log("error :: ", error);
			            }
					});
				} else {
					alert('로그인이 필요한 동작입니다.');
					$('#rcContent').val('');
				}
			}
			// 댓글 작성 메소드 끝
			
			// 댓글 작성 버튼 클릭 시작			
			$('#rcSubBtn').click(function(){
				rcWrite();
			})
			// 댓글 작성 버튼 클릭 시작
			
			// 댓글 정보 가져오기 시작			
			function getCmtList(){
				$.ajax({
					type : 'GET',
					url : '../../comment/api/commentList?boardId='+boardId,
					dataType :'json',
					success : function(data) {
						console.log("data.list :: ", data.list);
						console.log("data.cnt :: ", data.cnt);
						
						let cmtHtml = "";
						// if(data.list.length > 0) 시작
						if(data.list.length > 0){
							
							$('#cmtCnt').text(data.cnt);
							$('#topCmtCnt').text(data.cnt);
							// for 시작
							for(let i in data.list){
								let rbRegisterDate = data.list[i].rcRegisterDate.substring(0,16).replace("T", " ");
								/* cmtHtml +=
									 `<tr>
									      <th scope="row">
										      <div class="row">
									      		<div class="col">
									      			<span>${data.list[i].uNickName}</span> | <span>${rbRegisterDate}</span> 
									      		</div>
									      		<div class="col" style="text-align: right;">
									      			수정 / 삭제 | <span style="cursor: pointer;" id="${data.list[i].rcReRef}"
									      			onclick="document.getElementById('reCmtBody${data.list[i].rcReRef}').style.display == 'none'?document.getElementById('reCmtBody${data.list[i].rcReRef}').style.display = 'block' :document.getElementById('reCmtBody${data.list[i].rcReRef}').style.display = 'none';">
									      				댓글쓰기
									      			</span>
									      		</div>
										      </div>
										      <div class="row">
										      	<div class="col" style="font-weight: normal;">
										      		${data.list[i].rcContent}
										      	</div>
										      </div>
										      <div id="reCmtBody${data.list[i].rcReRef}" style="display: none;">
											      <div class="input-group" >
													  <input type="text" class="form-control" id="rcReContent${data.list[i].rcReRef}" placeholder="댓글을 입력해주세요.">
													  <div class="input-group-append">
													  <button class="btn btn-outline-secondary" type="button" id="rcSubBtn" onclick="temp($('#rcReContent${data.list[i].rcReRef}').val(), ${data.list[i].rcReRef})">작성</button>
												  </div>
												  </div>
										      </div>
								          </th>
								      </tr>` */
								      
								      
								// 부모 댓글 일 때
								if(data.list[i].rcReLev == 0){
									// 삭제된 댓글이 아닐 때
									if(data.list[i].rcDeleteYn == 'N'){
									
										// 로그인 됐을 때
										if(rcWriter){
											// 본인의 계정일 때
											if(rcWriter == data.list[i].rcWriter) {
												cmtHtml +=	`
													<tr>
									      			<th scope="row">
												<div class="row">
										      		<div class="col">
										      			<span>${data.list[i].uNickName}</span> | <span>${rbRegisterDate}</span> 
										      		</div>
										      		<div class="col" style="text-align: right;">
										      			<span style="cursor: pointer;" data-toggle="modal" data-target="#cmtUpdateModal" onclick="$('#rcReUpdateContent').val('${data.list[i].rcContent}'); $('#rcId').val('${data.list[i].rcId}')">수정</span> / <span style="cursor: pointer;" data-toggle="modal" data-target="#cmtDeleteModal" onclick="$('#rcDeleteId').val('${data.list[i].rcId}')">삭제</span> | <span style="cursor: pointer;" id="rcReWrite" data-toggle="modal" data-target="#cmtModal" onclick="$('#rcReRef').val('${data.list[i].rcReRef}')">댓글쓰기</span>
										      		</div>
											      </div>
											      <div class="row">
											      <div class="col" style="font-weight: normal;">
										      		${data.list[i].rcContent}
											      	</div>
											      </div>
									          </th>
									      </tr>`
											} else {
												cmtHtml +=	`
													<tr>
									      			<th scope="row">
												<div class="row">
										      		<div class="col">
										      			<span>${data.list[i].uNickName}</span> | <span>${rbRegisterDate}</span> 
										      		</div>
										      		<div class="col" style="text-align: right;">
										      			<span style="cursor: pointer;" id="rcReWrite" data-toggle="modal" data-target="#cmtModal" onclick="$('#rcReRef').val('${data.list[i].rcReRef}')">댓글쓰기</span>
										      		</div>
											      </div>
											      <div class="row">
											      <div class="col" style="font-weight: normal;">
										      		${data.list[i].rcContent}
											      	</div>
											      </div>
									          </th>
									      </tr>`
											}
										// 로그인 안됐을 때
										} else {
											cmtHtml +=	`
												<tr>
								      			<th scope="row">
											<div class="row">
									      		<div class="col">
									      			<span>${data.list[i].uNickName}</span> | <span>${rbRegisterDate}</span> 
									      		</div>
									      		<div class="col" style="text-align: right;">
									      			<span style="cursor: pointer;" id="rcReWrite" data-toggle="modal" data-target="#cmtModal" onclick="$('#rcReRef').val('${data.list[i].rcReRef}')">댓글쓰기</span>
									      		</div>
										      </div>
										      <div class="row">
										      <div class="col" style="font-weight: normal;">
									      		${data.list[i].rcContent}
										      	</div>
										      </div>
								          </th>
								      </tr>`
										}
										
									// 삭제된 댓글 일 때	
									} else {
										cmtHtml += `<tr>
											      		<th scope="row">
															<div class="row">
																<div class="col">
																	<span>삭제된 댓글 입니다.</span>
																</div>
													    	</div>
											      		</th>
											      </tr>`
									}
									
								// 자식 댓글일 때 
								} else {
									// 삭제된 댓글이 아닐 때
									if(data.list[i].rcDeleteYn == 'N'){
										// 로그인 됐을 때
										if(rcWriter){
											// 본인 계정일 때
											if(rcWriter == data.list[i].rcWriter){
												cmtHtml += `
													<tr>
									      			<th scope="row">
												<div class="row ml-4">
										      		<div class="col">
										      			<span>${data.list[i].uNickName}</span> | <span>${rbRegisterDate}</span> 
										      		</div>
										      		<div class="col" style="text-align: right;">
										      			<span style="cursor: pointer;" data-toggle="modal" data-target="#cmtUpdateModal" onclick="$('#rcReUpdateContent').val('${data.list[i].rcContent}'); $('#rcId').val('${data.list[i].rcId}')">수정</span> / <span style="cursor: pointer;" data-toggle="modal" data-target="#cmtDeleteModal" onclick="$('#rcDeleteId').val('${data.list[i].rcId}')">삭제<span>
										      		</div>
											      </div>
											      <div class="row ml-4">
											      <div class="col" style="font-weight: normal;">
										      		${data.list[i].rcContent}
											      	</div>
											      </div>
									          </th>
									      </tr>`
											} else {
												cmtHtml += `
													<tr>
									      			<th scope="row">
												<div class="row ml-4">
										      		<div class="col">
										      			<span>${data.list[i].uNickName}</span> | <span>${rbRegisterDate}</span> 
										      		</div>
											      </div>
											      <div class="row ml-4">
											      <div class="col" style="font-weight: normal;">
										      		${data.list[i].rcContent}
											      	</div>
											      </div>
									          </th>
									      </tr>`
											}
										// 로그인 안됐을 때
										} else {
												cmtHtml += `
													<tr>
									      			<th scope="row">
												<div class="row ml-4">
										      		<div class="col">
										      			<span>${data.list[i].uNickName}</span> | <span>${rbRegisterDate}</span> 
										      		</div>
											      </div>
											      <div class="row ml-4">
											      <div class="col" style="font-weight: normal;">
										      		${data.list[i].rcContent}
											      	</div>
											      </div>
									          </th>
									      </tr>`
										}
										
									} else {
										cmtHtml += `<tr>
											      		<th scope="row">
															<div class="row ml-4">
																<div class="col">
																	<span>삭제된 댓글 입니다.</span>
														    	</div>
													    	</div>
											      		</th>
											      </tr>`
										
									}
								}
							} // for 끝
							
						} // if(data.list.length > 0) 끝
						
						$('#closeModal').click();
						$('#cmtBody').html(cmtHtml);
						
		            },
		            error : function(error) {
		            	console.log("COMMENT error :: ", error);
		            }
				});
			}
			// 댓글 정보 가져오기 끝
			
			// 대댓글 작성 메소드
			function rcReWrite() {
				let rcContent = $('#rcReContent').val();
				let rcReRef = $('#rcReRef').val();
				let rcBoard = boardId;
				
				if(rcContent == ""){
					alert('대댓글을 입력해주세요.');
					$('#rcReContent').focus();
					return false;
				}
				
				let rcReInfo = {
					rcBoard,
					rcWriter,
					rcContent,
					rcReRef
				};
				
				if(rcWriter != null && rcWriter != ""){
				
					$.ajax({
						type : 'POST',
						url : '../../comment/api/reWrite',
						data : JSON.stringify(rcReInfo),
						contentType: "application/json; charset=UTF-8",
						dataType :'json',
						success : function(data) {
							console.log("data:: ", data);
							if(data == 1){
								alert('댓글이 작성 되었습니다.');
								$('#rcReContent').val('');
								getCmtList();
							} else {
								alert('댓글 작성 실패');
							}
							
			            },
			            error : function(error) {
			            	console.log("error :: ", error);
			            }
					});
				} else {
					alert('로그인이 필요한 동작입니다.');
					$('#rcReContent').val('');
					$('#closeModal').click();
				}
			};
			
			// 대댓글 작성 시작
			$('#rcReSubBtn').click(function(){
				rcReWrite();
			});
			// 대댓글 작성 끝
			
			
			
			// 댓글 수정 메소드
			function rcUpdate() {
				let rcContent = $('#rcReUpdateContent').val();
				let rcId = $('#rcId').val();
				
				if(rcContent == ""){
					alert('댓글을 입력해주세요.');
					$('#rcReUpdateContent').focus();
					return false;
				}
				
				let rcReInfo = {
					rcContent,
					rcId
				};
				
				if(rcWriter != null && rcWriter != ""){
					$.ajax({
						type : 'PUT',
						url : '../../comment/api/update',
						data : JSON.stringify(rcReInfo),
						contentType: "application/json; charset=UTF-8",
						dataType :'json',
						success : function(data) {
							console.log("data:: ", data);
							if(data == 1){
								alert('댓글이 수정 되었습니다.');
								$('#rcReUpdateContent').val('');
								$('#closeUpdateModal').click();
								getCmtList();
							} else {
								alert('댓글 수정 실패');
							}
							
			            },
			            error : function(error) {
			            	console.log("error :: ", error);
			            }
					});
				} else {
					alert('로그인이 필요한 동작입니다.');
					$('#rcReUpdateContent').val('');
					$('#closeUpdateModal').click();
				}
			};
			
			// 댓글 수정 시작
			$('#rcUpdateSubBtn').click(function(){
				rcUpdate();
			});
			// 댓글 수정 끝
			
			// 댓글 삭제 시작
			$('#rcDeleteSubBtn').click(function(){
				console.log('댓글 삭제 클릭');
				let rcId = $('#rcDeleteId').val();
				
				let rcInfo = {
					rcId
				};
				
				if(rcWriter != null && rcWriter != ""){
					$.ajax({
						type : 'DELETE',
						url : '../../comment/api/delete',
						data : JSON.stringify(rcInfo),
						contentType: "application/json; charset=UTF-8",
						dataType :'json',
						success : function(data) {
							console.log("data:: ", data);
							if(data == 1){
								alert('댓글이 삭제 되었습니다.');
								$('#closeDeleteModal').click();
								getCmtList();
							} else {
								alert('댓글 삭제 실패');
							}
							
			            },
			            error : function(error) {
			            	console.log("error :: ", error);
			            }
					});
				} else {
					alert('로그인이 필요한 동작입니다.');
					$('#closeDeleteModal').click();
				}
				
			});
			// 댓글 삭제 끝
			
			// 댓글 작성 엔터 클릭 시
			$("#rcContent").keydown(function(key) {
                if (key.keyCode == 13) {
                	rcWrite();
                }
            });
			
			// 대댓글 작성 엔터 클릭 시
			$("#rcReContent").keydown(function(key) {
                if (key.keyCode == 13) {
                	rcReWrite();
                }
            });
			
			// 댓글 수정 엔터 클릭 시
			$("#rcReUpdateContent").keydown(function(key) {
                if (key.keyCode == 13) {
                	rcUpdate();
                }
            });
			
			// 좋아요 버튼 클릭 시작
			$('#likeBtn').click(function(){
				console.log('좋아요 버튼 클릭');
				console.log('boardId : ', boardId);
				console.log('rcWriter : ', rcWriter);
				// 로그인 정보 있을 때
				if(rcWriter != null){
					let rlInfo = {
						rlUser : rcWriter,
						rlBoard : boardId
					} 
					console.log('rlInfo : ', rlInfo);
					
					$.ajax({
						type : 'POST',
						url : '../../like/api/likeInsert',
						data : JSON.stringify(rlInfo),
						contentType: "application/json; charset=UTF-8",
						dataType :'json',
						success : function(data) {
							console.log("data:: ", data);
							if(data == 0){
								alert('좋아요 취소');
							} else if(data == 1){
								alert('좋아요 추가');
							} else {
								alert('에러 발생');
							}
							// 게시글 상세정보 새로고침
							boardDetail();
			            },
			            error : function(error) {
			            	console.log("error :: ", error);
			            }
					});
				// 로그인 정보 없을 때
				} else {
					alert('로그인이 필요한 동작입니다.');
				}
				
			});
			// 좋아요 버튼 클릭 끝
			
			// 목록으로 버튼 클릭
			$('#moveList').click(function(){
				if(document.referrer == "http://localhost:8080/review/list"){
					location.href="/review/list"
				} else if(document.referrer == "http://localhost:8080/myPage/myBoardList"){
					console.log(document.referrer);
					location.href="../../myPage/myBoardList"
				} else if(document.referrer ==  "http://localhost:8080/myPage/myComment"){
					location.href="../../myPage/myComment"
				} else if(document.referrer ==  "http://localhost:8080/myPage/myLike"){
					location.href="../../myPage/myLike"
				} else if(document.referrer == "http://localhost:8080/admin/boardManagement") {
					location.href="../../admin/boardManagement"
				} else {
					location.href="/review/list"
				}
			});
			
			// 페이지 시작 시 댓글 리스트 가져오기
			getCmtList();
		});
		
	</script>


    <!-- Bootstrap core JavaScript-->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin-2.min.js"></script>

</body>

</html>