<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>CoCo - 후기 게시판</title>

<!-- Custom fonts for this template -->
<link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../css/sb-admin-2.min.css" rel="stylesheet">

<!-- 제이쿼리 적용 -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	
<style>
	.box-radio-input input[type="radio"]{
	  display:none;
	}
	
	.box-radio-input input[type="radio"] + span{
	  display:inline-block;
	  background:none;
	  border:1px solid #dfdfdf;  
	  padding:0px 10px;
	  text-align:center;
	  height:35px;
	  line-height:33px;
	  font-weight:500;
	  cursor:pointer;
	}
	
	.box-radio-input input[type="radio"]:checked + span{
	  border:1px solid #23a3a7;
	  background:#23a3a7;
	  color:#fff;
	 }
    
    .ellipsis {
      overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 6em; /* line-height 가 1.2em 이고 5라인을 자르기 때문에 height는 1.2em * 5 = 6em */
    }
    
    .titleEllipsis {
      overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 1.4em; /* line-height 가 1.2em 이고 5라인을 자르기 때문에 height는 1.2em * 5 = 6em */
    }
    
</style>	

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- 사이드 바 시작 -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
				<div class="sidebar-brand-text mx-3">Covid Community</div>
			</a>
			
			<!-- Divider -->
			<hr class="sidebar-divider">

			<li class="nav-item">
				<a class="nav-link" th:href="@{/}">
					<i class="fas fa-home"></i>
					<span>홈</span>
				</a>
			</li>

			<!-- Nav Item - Tables -->
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/review/list}">
					<i class="fas fa-fw fa-table"></i>
					<span>후기 게시판</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" th:href="@{/defStatus}">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>발생현황</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/vaccinationStatus}">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>접종현황</span></a>
			</li>
			<div th:if="${loginDTO}">
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#myPageDetail"
						aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-user"></i>
						<span>마이페이지</span>
					</a>
					<div id="myPageDetail" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">계정</h6>
							<a class="collapse-item" th:href="@{../myPage/myInfo}">내정보 관리</a>
							<h6 class="collapse-header">글 관리</h6>
							<a class="collapse-item" th:href="@{../myPage/myBoardList}">내가 쓴 글</a>
							<a class="collapse-item" th:href="@{../myPage/myComment}">내 댓글</a>
							<a class="collapse-item" th:href="@{../myPage/myLike}">좋아요 누른 글</a>
						</div>
					</div>
				</li>
			</div>
			<div th:if="${loginDTO}">
				<div th:if="${loginDTO.userRole == 'ROLE_ADMIN'}">
					<li class="nav-item">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#adminPageDetail"
							aria-expanded="true" aria-controls="collapseTwo">
							<i class="fas fa-fw fa-cog"></i>
							<span>관리자페이지</span>
						</a>
						<div id="adminPageDetail" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded">
								<a class="collapse-item" th:href="@{../admin/userManagement}">유저 관리</a>
								<a class="collapse-item" th:href="@{../admin/boardManagement}">게시글 관리</a>
							</div>
						</div>
					</li>
				</div>
			</div>
		</ul>
		<!-- 사이드 바 끝 -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- 상단 네비바 시작 -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<ul class="navbar-nav ml-auto">
						<!-- Nav Item - Alerts -->
						<div th:if="${loginDTO}">
							<!-- 회원 닉네임 보이는 구역 시작 -->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<div th:if="${loginDTO}">
										<span th:text="${loginDTO.userNickName}" style="color: black;" class="mr-2"></span>
									</div>
								</a>
								<!-- 닉네임 클릭시 드롭다운 -->
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
									aria-labelledby="userDropdown">
									<a class="dropdown-item" th:href="@{/myPage/myInfo}">
										<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
										마이페이지
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" data-toggle="modal" style="cursor: pointer;" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										로그아웃
									</a>
								</div>
							</li>
							<!-- 회원 닉네임 보이는 구역 끝 -->
						</div>
						<div th:unless="${loginDTO}">
							<a class="mt-4 mr-3" id="logInTxt" style="cursor: pointer;" th:href="@{/login}">로그인</a>
							<a class="mt-4" id="signUpTxt" style="cursor: pointer;" th:href="@{/register}">회원가입</a>
						</div>
					</ul>
				</nav>
				<!-- 상단 네비바 끝 -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">후기 게시판</h1>
					<div class="mb-3" style="text-align: right;">
						<a type="button" class="btn btn-primary" th:href="@{/review/write}">글쓰기</a>
					</div>

					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-body" style="width: 90%; margin: auto;">
							
							<fieldset class="form-group row">
								<legend class="col-form-label col-sm-2 float-sm-left pt-0 mt-2 ml-1" style="max-width: 6.66667%;">백신</legend>
								<div>
									<label class="box-radio-input">
										<input type="radio" name="rbVaccineKind" value="" checked="checked">
										<span>전체</span>
									</label>
									<label class="box-radio-input">
										<input type="radio" name="rbVaccineKind" value="1">
										<span>화이자</span>
									</label>
									<label class="box-radio-input">
										<input type="radio" name="rbVaccineKind" value="2">
										<span>모더나</span>
									</label>
									<label class="box-radio-input">
										<input type="radio" name="rbVaccineKind" value="3">
										<span>얀센</span>
									</label>
									<label class="box-radio-input">
										<input type="radio" name="rbVaccineKind" value="4">
										<span>아스트라제네카</span>
									</label>
								</div>
							</fieldset>
							
							
							<fieldset class="form-group row">
								<legend class="col-form-label col-sm-2 float-sm-left pt-0 mt-2 ml-1" style="max-width: 6.66667%;">검색</legend>
								<div class="row" style="width: 500px">
									<!-- 셀렉트 박스 -->
									<select class="form-control ml-2 mr-2" id="rbSelect" style="width: 18%">
									    <option value="title">제목</option>
									    <option value="content">내용</option>
									</select>
									
									<!-- 인풋 박스 -->
									<input class="mr-2 form-control" type="text" id="rbInput" style="width: 40%">
									
									<!-- 검색 버튼 -->
									<button class="btn btn-dark" id="rbSearchButton" style="height: 98%">검색</button>
									
								</div>
							</fieldset>
						
							<div class="row row-cols-1 row-cols-md-2" id="cardBody"></div>
							
							<nav aria-label="Page navigation example">
							  <ul class="pagination" id="pageNum" style="padding-left: 40%;"></ul>
							</nav>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- 푸터 시작 -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; CovidCommunity 2022</span>
					</div>
				</div>
			</footer>
			<!-- 푸터 끝 -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- 로그아웃 모달 -->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">정말 로그아웃 하시겠습니까?</div>
				<div class="modal-footer">
					<a class="btn btn-primary" th:href="@{/logout}">확인</a>
					<button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function() {
			
			let writeResult = "[[${writeResult}]]";
			let updateResult = "[[${updateResult}]]";
			
			
			if(writeResult != ""){
				if(writeResult == 1){
					alert('게시글 작성 완료.');
					writeResult = "";
				} else {
					alert('게시글 작성 실패.');
					writeResult = "";
				}
			}
			
			if(updateResult != ""){
				if(updateResult == 1){
					alert('게시글 수정 완료.');
					updateResult = "";
				} else {
					alert('게시글 수정 실패.');
					updateResult = "";
				}
			}
			
			// 현재 페이지
			let rbNowPage = 1;
			// 페이지당 보여줄 개수
			let pageSize = 8;
			// 한 화면에 보여줄 페이지 번호의 개수 (페이지 블록)
			let pageBlock = 5;
			// 게시글 전체 개수
			let totalCnt = 0;
			
			// 게시글 리스트 가져오는 메소드
			function getBoardList(){
				
				// 페이지별 시작 행
				let startRow = (rbNowPage-1)*pageSize;
				// 게시글 목록 초기화
				let cardHtml = "";
				// 백신 종류
				let rbVaccineKind = $('input[name=rbVaccineKind]:checked').val();
				// 제목 or 내용
				let rbSelect = $('#rbSelect').val();
				// input 값
				let rbInput = $('#rbInput').val();
				
				let boardInfo = {
					startRow,
					rbVaccineKind,
					rbSelect,
					rbInput
				};
				
				$.ajax({
					type : 'GET',
					url : '../review/api/BoardList',
					data : boardInfo,
					dataType :'json',
					contentType: "application/json; charset=UTF-8",
					success : function(data) {
						
						if(data.list.length > 0){
							let color;
							
							for(let i in data.list){
								let VaccineKind = data.list[i].rbVaccineKind;
								switch (VaccineKind) {
								  case '1':
									VaccineKind = '화이자';
									color = 'bg-warning';
								    break;
								  case '2':
									VaccineKind = '모더나';
									color = 'bg-primary';
								    break;
								  case '3':
									VaccineKind = '얀센';
									color = 'bg-success';
								    break;
								  case '4':
									VaccineKind = '아스트라제네카';
									color = 'bg-info';
								    break;
								}
								
								cardHtml += `<div class="col mb-4">
											    <div class="card h-100">
											      <div class="card-body">
											        <div class="row">
										    		  <div class="col">
										      			  <h4 class="card-title">
															<span class="badge ${color}" style="color: white">${VaccineKind}</span>
														  </h4>
										      		  </div>
									      		    </div>
											      
											      	<h4 class="card-title text-center mb-5 titleEllipsis" id="rbTitle" onclick="location.href='../review/detail/${data.list[i].rbId}'" style="cursor: pointer;">${data.list[i].rbTitle}</h4>
											      	<div class="row mb-4">`
											      	
											      	
											      	if(data.list[i].rbFilePath != ""){
					      		cardHtml +=  			`<div class="col-9">
												        	<p class="card-text ellipsis"> <span>${data.list[i].rbContent}</span></p>
												        </div>
												        <div class="col-3">
												        	<img id="rbFilePath" src="${data.list[i].rbFilePath}" width="80%" height="90px"/>
												        </div>`
											      	} else {
					      		cardHtml +=				`<div class="col">	
											        		<p class="card-text ellipsis"> <span>${data.list[i].rbContent}</span></p>
											        	</div>`
											      	}
											        
											        
					        	cardHtml +=			`</div>
											        <i class="fa fa-eye"> <span style="font-weight: normal;">${data.list[i].rbViewCnt}</span></i>&nbsp;&nbsp;
									       			<i class="fa fa-heart"> <span style="font-weight: normal;">${data.list[i].rbLikeCnt}</span></i>&nbsp;&nbsp;
									       			<i class="fa fa-comment"> <span style="font-weight: normal;">${data.list[i].rbCmtCnt}</span></i>&nbsp;&nbsp;&nbsp;&nbsp;
									       			`
									       			if(data.list[i].rbFilePath != ""){
								cardHtml += 			`<i class="fa fa-image"></i>`
									       			}
									       			
								cardHtml +=			`
									       			<div style="float: right">
									       				<span>${data.list[i].rbRegisterDate.substring(0, 10)}</span>
									       			</div>
									       		
											      </div>
											    </div>
											  </div>`
							}
						}
						$('#cardBody').html(cardHtml);
						
						// 페이지 네이션 그리기
						drawPagination(data.totalCnt, 0);
						totalCnt = data.totalCnt;
						
		            },
		            error : function(error) {
		            	console.log("error :: ", error);
		            }
				});
			} 
			
			function drawPagination(totalCnt, num){
				// 페이징처리 그리기
				let pageNum = "";
				
				// 전체 페이지 수
				let pageCount = parseInt(totalCnt/pageSize+(totalCnt % pageSize == 0? 0:1));
				
				// 페이징처리에 보여질 페이지 넘버
				let block_num = parseInt((rbNowPage - 1) / pageBlock) + num;
				
				// 페이지 블록의 시작페이지 번호
				// let startPage = ((rbNowPage-1)/pageBlock) * pageBlock +1;
				let startPage = (pageBlock * block_num) + 1
				// 페이지 블록의 끝 페이지 번호
				// let endPage = startPage+pageBlock-1;
				let endPage = startPage + (pageBlock - 1)
				
				if(endPage > pageCount){
					endPage = pageCount;
				}
				if(startPage > pageBlock){
					pageNum += `<li class="page-item" style="cursor: pointer;">
							        <span class="page-link" aria-hidden="true" name="pre">&laquo;</span>
							    </li>`
				}
				for(let i = startPage; i <= endPage; i++){
					if(rbNowPage == i){
						pageNum += `<li class="page-item active" style="cursor: pointer;"><span class="page-link" name="num">${i}</span></li>`
					} else {
						pageNum += `<li class="page-item" style="cursor: pointer;"><span class="page-link" name="num">${i}</span></li>`	
					}
					
				}
				
				if(endPage < pageCount){
				    pageNum += `<li class="page-item" style="cursor: pointer;">
							        <span class="page-link" aria-hidden="true" name="next">&raquo;</span>
							    </li>`
				}
				
				$('#pageNum').html(pageNum);
				
				// 페이지 네이션 넘버 클릭 시
				$(".pagination li span[name='num']").click(function(){
					rbNowPage = $(this).text();
					getBoardList();
				});
				// 페이지 네이션 다음 클릭 시
				$(".pagination li span[name='next']").click(function(){
					rbNowPage = startPage + pageBlock;
					drawPagination(totalCnt, 0);
					getBoardList();
				});
				// 페이지 네이션 이전 클릭 시
				$(".pagination li span[name='pre']").click(function(){
					drawPagination(totalCnt, -1);
					rbNowPage = startPage - pageBlock;
					getBoardList();
				});
				
			}
			
			// 페이지 접근시 게시글 가져오기
			getBoardList();
				
			// 검색 버튼 클릭 시
			$('#rbSearchButton').click(function(){
				rbNowPage = 1;
				getBoardList();
			});
			
			// 라디오 버튼 변경 시
			$("input[name='rbVaccineKind']:radio").change(function () {
		        rbNowPage = 1;
				getBoardList();       
			});
			
			// 검색창 엔터 클릭 시
			$("#rbInput").keydown(function(key) {
                if (key.keyCode == 13) {
                	rbNowPage = 1;
    				getBoardList();
                }
            });
			
		});
	</script>

	<!-- Bootstrap core JavaScript-->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="../js/sb-admin-2.min.js"></script>

</body>

</html>