<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>CoCo - 홈</title>

	<!-- Custom fonts for this template-->
	<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  	/>
	<!-- Custom styles for this template-->
	<link href="css/sb-admin-2.min.css" rel="stylesheet">
	<!-- 제이쿼리 적용 -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

	<style type="text/css">
	.ellipsis {
        overflow: hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-line-clamp: 5; /* 라인수 */
	    -webkit-box-orient: vertical;
	    word-wrap:break-word; 
	    line-height: 1.2em;
	    height: 6em; /* line-height 가 1.2em 이고 5라인을 자르기 때문에 height는 1.2em * 5 = 6em */
    }
	
	</style>

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- 사이드 바 시작 -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
				<div class="sidebar-brand-text mx-3">Covid Community</div>
			</a>
				

			<!-- Divider -->
			<hr class="sidebar-divider">

			<li class="nav-item">
				<a class="nav-link" th:href="@{/}">
					<i class="fas fa-home"></i>
					<span>홈</span>
				</a>
			</li>

			<!-- Nav Item - Tables -->
			<li class="nav-item">
				<a class="nav-link" th:href="@{/review/list}">
					<i class="fas fa-fw fa-table"></i>
					<span>후기 게시판</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" th:href="@{/defStatus}">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>발생현황</span></a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" th:href="@{/vaccinationStatus}">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>접종현황</span></a>
			</li>
			
			<div th:if="${loginDTO}">
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#myPageDetail"
						aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-user"></i>
						<span>마이페이지</span>
					</a>
					<div id="myPageDetail" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">계정</h6>
							<a class="collapse-item" th:href="@{myPage/myInfo}">내정보 관리</a>
							<h6 class="collapse-header">글 관리</h6>
							<a class="collapse-item" th:href="@{myPage/myBoardList}">내가 쓴 글</a>
							<a class="collapse-item" th:href="@{myPage/myComment}">내 댓글</a>
							<a class="collapse-item" th:href="@{myPage/myLike}">좋아요 누른 글</a>
						</div>
					</div>
				</li>
			</div>
			
			
			<div th:if="${loginDTO}">
				<div th:if="${loginDTO.userRole == 'ROLE_ADMIN'}">
					<li class="nav-item">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#adminPageDetail"
							aria-expanded="true" aria-controls="collapseTwo">
							<i class="fas fa-fw fa-cog"></i>
							<span>관리자페이지</span>
						</a>
						<div id="adminPageDetail" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded">
								<a class="collapse-item" th:href="@{admin/userManagement}">유저 관리</a>
								<a class="collapse-item" th:href="@{admin/boardManagement}">게시글 관리</a>
							</div>
						</div>
					</li>
				</div>
			</div>
		</ul>
		<!-- 사이드 바 끝 -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- 상단 네비바 시작 -->
					<ul class="navbar-nav ml-auto">
						<!-- Nav Item - Alerts -->
						<div th:if="${loginDTO}">
							<!-- 회원 닉네임 보이는 구역 시작 -->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<div th:if="${loginDTO}">
										<span th:text="${loginDTO.userNickName}" style="color: black;" class="mr-2"></span>
									</div>
								</a>
								<!-- 닉네임 클릭시 드롭다운 -->
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
									aria-labelledby="userDropdown">
									<a class="dropdown-item" th:href="@{/myPage/myInfo}">
										<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
										마이페이지
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" data-toggle="modal" style="cursor: pointer;" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										로그아웃
									</a>
								</div>
							</li>
							<!-- 회원 닉네임 보이는 구역 끝 -->
						</div>
						<div th:unless="${loginDTO}">
							<a class="mt-4 mr-3" id="logInTxt" style="cursor: pointer;" th:href="@{/login}">로그인</a>
							<a class="mt-4" id="signUpTxt" style="cursor: pointer;" th:href="@{/register}">회원가입</a>
						</div>
					</ul>
					<!-- 상단 네비바 끝 -->
				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid" style="width: 90%">
					<div class="row">
						<div class="col">
							<div class="row">
								<div class="col"><b>발생 현황</b></div>
								<a class="col" th:href="@{/defStatus}" style="text-align: right; cursor:pointer;">더보기</a>
							</div>
							<div class="card shadow mb-4">
								<!-- Card Body -->
								<div class="card-body">
								
									<div class="row text-center mb-3">
                                    	<div class="col">
                                    		<div><h5>총 확진자 수</h5></div>
                                    		<div>
                                    			<h4>
	                                    			<span id="defCnt"></span>
	                                    			<span>명</span>
                                    			</h4>
                                    		</div>
										</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-4 text-right">
                                    		<div>신규 확진자 수</div>
                                    		<div>
                                    			<span id="incDec"></span>
                                    			<span style="color: red;">▲</span>
                                    		</div>

										</div>
                                    	<div class="col-4 text-center">
                                    		<div>10만명당 발생 수</div>
                                    		<div>
                                    			<span id="qurRate"></span>
                                    			<span>명</span>
                                    		</div>
										</div>
										<div class="col-4">
                                    		<div>사망자 수</div>
                                    		<div>
	                                   			<span id="deathCnt"></span>
	                                   			<span>명</span>
                                    		</div>
										</div>
                                    </div>
								
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="row">
								<div class="col"><b>접종 현황</b></div>
								<a class="col" th:href="@{/vaccinationStatus}" style="text-align: right; cursor: pointer;">더보기</a>
							</div>
							<div class="card shadow mb-4">
								<!-- Card Body -->
								<div class="card-body">
								
									<div class="row text-center">
                                    	<div class="col-4">
                                    		<div><h5>1차 접종</h5></div>
                                    		<div>
                                    			<h4>
	                                    			<span id="firstCntPer"></span>
	                                    			<span>%</span>
                                    			</h4>
                                    		</div>
                                    		<div>
                                    			<span id="firstCnt"></span>
                                    			<span style="color: red;">▲</span>
											</div>
										</div>
                                    	<div class="col-4">
                                    		<div><h5>2차 접종</h5></div>
                                    		<div>
                                    			<h4>
	                                    			<span id="secondCntPer"></span>
	                                    			<span>%</span>
                                    			</h4>
                                    		</div>
                                    		<div>
                                    			<span id="secondCnt"></span>
                                    			<span style="color: red;">▲</span>
											</div>
										</div>
                                    	<div class="col-4">
                                    		<div><h5>3차 접종</h5></div>
                                    		<div>
                                    			<h4>
	                                    			<span id="thirdCntPer"></span>
	                                    			<span>%</span>
                                    			</h4>
                                    		</div>
                                    		<div>
                                    			<span id="thirdCnt"></span>
                                    			<span style="color: red;">▲</span>
                                    		</div>
										</div>
                                    </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
					
						<!-- Area Chart -->
						<div class="col-8">
							<div class="row">
								<div class="col-6">
									<div class="row">
										<div class="col"><b>최신글</b></div>
										<a class="col" th:href="@{/review/list}" style="text-align: right; cursor: pointer;">더보기</a>
									</div>
									<div class="card shadow mb-4">
										
										<!-- Card Body -->
										<div class="card-body" id="latestBoardList" style="padding: 0px">
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="row">
										<div class="col"><b>인기글</b></div>
										<a class="col" th:href="@{/review/list}" style="text-align: right; cursor: pointer;">더보기</a>
									</div>
									<div class="card shadow mb-4">
										<!-- Card Body -->
										<div class="card-body" id="popBoardList" style="padding: 0px">
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- url 블럭 -->
						<div class="col-4">
						
							<div class="row mt-4">
								<div class="col">
									<div class="card shadow mb-4">
										<!-- Card Body -->
										<div class="card-body">
											<b><a href="https://ncvr2.kdca.go.kr/" style="cursor: pointer;" target="_blank">접종 예약 하러가기</a></b>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="card shadow mb-4">
										<!-- Card Body -->
										<div class="card-body">
											<b><a th:href="@{/review/write}">접종 후기 쓰러가기</a></b>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="card shadow mb-4">
										<!-- Card Body -->
										<div class="card-body">
											<b><a href="https://m.place.naver.com/rest/vaccine?vaccineFilter=used" style="cursor: pointer;" target="_blank">잔여백신 보러가기</a></b>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Content Row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; CovidCommunity 2022</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">정말 로그아웃 하시겠습니까?</div>
				<div class="modal-footer">
					<a class="btn btn-primary" th:href="@{/logout}">확인</a>
					<button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		$(document).ready(function() {
			
			let now = new Date();
			let year = now.getFullYear();
			let month = ("0" + (1 + now.getMonth())).slice(-2);
		    let date = ("0" + now.getDate()).slice(-2);
			
			let ymd = year+'-'+month+'-'+date;
			console.log('ymd : ', ymd);
			
			// 접종현황 ajax
			$.ajax({
				type : 'GET',
				url : 'https://api.odcloud.kr/api/15077756/v1/vaccine-stat?page=1&perPage=18&cond%5BbaseDate%3A%3AEQ%5D='+ymd+'%2000%3A00%3A00&serviceKey=wtMZjBn6VpRJGD8MbHV2dLgwn0TWIoCd%2FaY7UeZZVLkjqqIRobA%2FfbOGZoXiU8SUu%2BZvtnvp%2BRBxYeT1KX9L%2FA%3D%3D',
				contentType: "application/json; charset=UTF-8",
				dataType :'json',
				success : function(data) {
					let vaccineData = data.data
					console.log('vaccineData : ',vaccineData);
					
					let totalFirstCnt = vaccineData[0].totalFirstCnt;
					let totalSecondCnt = vaccineData[0].totalSecondCnt;
					let totalThirdCnt = vaccineData[0].totalThirdCnt;
					
					let firstCntPer = (totalFirstCnt / 51628117) * 100;
					firstCntPer = firstCntPer.toFixed(1);
					
					let secondCntPer = (totalSecondCnt / 51628117) * 100;
					secondCntPer = secondCntPer.toFixed(1);
					
					let thirdCntPer = (totalThirdCnt / 51628117) * 100;
					thirdCntPer = thirdCntPer.toFixed(1);
					
					$('#firstCntPer').text(firstCntPer);
					$('#secondCntPer').text(secondCntPer);
					$('#thirdCntPer').text(thirdCntPer);
					
					$('#firstCnt').text(vaccineData[0].firstCnt);
					$('#secondCnt').text(vaccineData[0].secondCnt);
					$('#thirdCnt').text(vaccineData[0].thirdCnt);
	            },
	            error : function(error) {
	            	console.log("error :: ", error);
	            }
			});
			
			// 발생현황 ajax
			$.ajax({
				type : 'GET',
				url : 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson?serviceKey=wtMZjBn6VpRJGD8MbHV2dLgwn0TWIoCd%2FaY7UeZZVLkjqqIRobA%2FfbOGZoXiU8SUu%2BZvtnvp%2BRBxYeT1KX9L%2FA%3D%3D',
				dataType :'json',
				success : function(data) {
					let defData = data.response.body.items.item;
					console.log("defData : ", defData)
					
					$('#defCnt').text(numberWithCommas(defData[18].defCnt));
					$('#incDec').text(numberWithCommas(defData[18].incDec));
					$('#qurRate').text(numberWithCommas(defData[18].qurRate));
					$('#deathCnt').text(numberWithCommas(defData[18].deathCnt));
	            },
	            error : function(error) {
	            	console.log("error :: ", error);
	            }
			});
			
			// 최신글 & 인기글 가져오기
			$.ajax({
				type : 'GET',
				url : 'main/api/boardList',
				dataType :'json',
				success : function(data) {
					console.log("data : ", data);
					console.log("data.latestBoardList : ", data.latestBoardList);
					console.log("data.popBoardList : ", data.popBoardList);
					
					let latestBoardList = data.latestBoardList;
					let popBoardList = data.popBoardList;
					
					let lblHtml = "";
					
					if(latestBoardList.length > 0){
					
						for(let i in latestBoardList){
							
							let color;
							let rbRegisterDate = latestBoardList[i].rbRegisterDate.substring(0, 10);
							let VaccineKind = latestBoardList[i].rbVaccineKind;
							switch (VaccineKind) {
							  case '1':
								VaccineKind = '화이자';
								color = 'badge-warning';
							    break;
							  case '2':
								VaccineKind = '모더나';
								color = 'badge-primary';
							    break;
							  case '3':
								VaccineKind = '얀센';
								color = 'badge-success';
							    break;
							  case '4':
								VaccineKind = '아스트라제네카';
								color = 'badge-info';
							    break;
							}
							
							if(i == latestBoardList.length - 1){
								lblHtml += `<div class="col m-3">
												<div class="row">
												<h5><span class="badge ${color}">${VaccineKind}</span></h5>
											</div>
											<div class="row mb-2" style="margin: auto;">
												<h5 class="card-title text-center" id="rbTitle" onclick="location.href='../review/detail/${latestBoardList[i].rbId}'" style="cursor: pointer;">${latestBoardList[i].rbTitle}</h5>
											</div>
											<div class="row mb-2">
												<div class="col ellipsis" style="padding-right: 28px;">
													${latestBoardList[i].rbContent}
												</div>
											</div>
											<div class="row">
												<div class="col">
													<i class="fa fa-eye"> <span style="font-weight: normal;">${latestBoardList[i].rbViewCnt}</span></i>&nbsp;&nbsp;
									       			<i class="fa fa-heart"> <span style="font-weight: normal;">${latestBoardList[i].rbLikeCnt}</span></i>&nbsp;&nbsp;
									       			<i class="fa fa-comment"> <span style="font-weight: normal;">${latestBoardList[i].rbCmtCnt}</span></i>&nbsp;&nbsp;
								       			</div>
								       			<div class="col mr-4" style="text-align: right;">${rbRegisterDate}</div>
											</div>
										</div>`
							} else {
								lblHtml += `<div class="col m-3">
													<div class="row">
													<h5><span class="badge ${color}">${VaccineKind}</span></h5>
												</div>
												<div class="row mb-2" style="margin: auto;">
													<h5 class="card-title text-center" id="rbTitle" onclick="location.href='../review/detail/${latestBoardList[i].rbId}'" style="cursor: pointer;">${latestBoardList[i].rbTitle}</h5>
												</div>
												<div class="row mb-2">
													<div class="col ellipsis" style="padding-right: 28px;">
													${latestBoardList[i].rbContent}
													</div>
												</div>
												<div class="row">
													<div class="col">
														<i class="fa fa-eye"> <span style="font-weight: normal;">${latestBoardList[i].rbViewCnt}</span></i>&nbsp;&nbsp;
										       			<i class="fa fa-heart"> <span style="font-weight: normal;">${latestBoardList[i].rbLikeCnt}</span></i>&nbsp;&nbsp;
										       			<i class="fa fa-comment"> <span style="font-weight: normal;">${latestBoardList[i].rbCmtCnt}</span></i>&nbsp;&nbsp;
									       			</div>
									       			<div class="col mr-4" style="text-align: right;">${rbRegisterDate}</div>
												</div>
											</div>
											<hr>`
							}
						}
					}
					
					$('#latestBoardList').append(lblHtml);
					
					let pblHtml = "";
					
					if(popBoardList.length > 0){
					
						for(let i in popBoardList){
							
							let color;
							let rbRegisterDate = popBoardList[i].rbRegisterDate.substring(0, 10);
							let VaccineKind = popBoardList[i].rbVaccineKind;
							switch (VaccineKind) {
							  case '1':
								VaccineKind = '화이자';
								color = 'badge-warning';
							    break;
							  case '2':
								VaccineKind = '모더나';
								color = 'badge-primary';
							    break;
							  case '3':
								VaccineKind = '얀센';
								color = 'badge-success';
							    break;
							  case '4':
								VaccineKind = '아스트라제네카';
								color = 'badge-info';
							    break;
							}
							
							if(i == popBoardList.length - 1){
								pblHtml += `<div class="col m-3">
												<div class="row">
												<h5><span class="badge ${color}">${VaccineKind}</span></h5>
											</div>
											<div class="row mb-2" style="margin: auto;">
											<h5 class="card-title text-center" id="rbTitle" onclick="location.href='../review/detail/${popBoardList[i].rbId}'" style="cursor: pointer;">${popBoardList[i].rbTitle}</h5>
											</div>
											<div class="row mb-2">
												<div class="col ellipsis" style="padding-right: 28px;">
													${popBoardList[i].rbContent}
												</div>
											</div>
											<div class="row">
												<div class="col">
													<i class="fa fa-eye"> <span style="font-weight: normal;">${popBoardList[i].rbViewCnt}</span></i>&nbsp;&nbsp;
									       			<i class="fa fa-heart"> <span style="font-weight: normal;">${popBoardList[i].rbLikeCnt}</span></i>&nbsp;&nbsp;
									       			<i class="fa fa-comment"> <span style="font-weight: normal;">${popBoardList[i].rbCmtCnt}</span></i>&nbsp;&nbsp;
								       			</div>
								       			<div class="col mr-4" style="text-align: right;">${rbRegisterDate}</div>
											</div>
										</div>`
							} else {
								pblHtml += `<div class="col m-3">
													<div class="row">
													<h5><span class="badge ${color}">${VaccineKind}</span></h5>
												</div>
												<div class="row mb-2" style="margin: auto;">
													<h5 class="card-title text-center" id="rbTitle" onclick="location.href='../review/detail/${popBoardList[i].rbId}'" style="cursor: pointer;">${popBoardList[i].rbTitle}</h5>
												</div>
												<div class="row mb-2">
													<div class="col ellipsis" style="padding-right: 28px;">
														${popBoardList[i].rbContent}
													</div>
												</div>
												<div class="row">
													<div class="col">
														<i class="fa fa-eye"> <span style="font-weight: normal;">${popBoardList[i].rbViewCnt}</span></i>&nbsp;&nbsp;
										       			<i class="fa fa-heart"> <span style="font-weight: normal;">${popBoardList[i].rbLikeCnt}</span></i>&nbsp;&nbsp;
										       			<i class="fa fa-comment"> <span style="font-weight: normal;">${popBoardList[i].rbCmtCnt}</span></i>&nbsp;&nbsp;
									       			</div>
									       			<div class="col mr-4" style="text-align: right;">${rbRegisterDate}</div>
												</div>
											</div>
											<hr>`
							}
						}
					}
					
					$('#popBoardList').append(pblHtml);
					
	            },
	            error : function(error) {
	            	console.log("error :: ", error);
	            }
			});
			
		});
		
		// 숫자 , 찍기 함수
		function numberWithCommas(x){
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}
	</script>
	
	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
</body>

</html>