<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoCo - 비밀번호 재설정</title>

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

	<!-- 제이쿼리 적용 -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                             <div class="p-5" style="width: 220%">
                                 <div class="text-center">
                                     <h1 class="h4 text-gray-900 mb-2">비밀번호 재설정</h1>
                                     <p class="mb-4">재설정 할 비밀번호를 입력해 주세요.</p>
                                 </div>
                                 <form class="user">
                                    <div class="form-group ml-2">
	                                    <input type="password" class="form-control form-control-user col-sm-12" id="user_pw"
	                                        placeholder="비밀번호를 입력해주세요." >
	                                </div>
	                                <div class="form-group ml-2">
	                                    <input type="password" class="form-control form-control-user col-sm-12" id="user_pw_con"
	                                        placeholder="비밀번호 확인" >
	                                </div>
                                 </form>
                                 <button class="btn btn-primary btn-user btn-block" id="certiConBtn">
                                         확인
                                 </button>
                             </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
	<script>
		$(document).ready(function(){
		    let userInfo = "[[${userInfo}]]";
		    
		    userEmail = userInfo.replace('%40', '@').replace('userEmail=', '');
		    
		    $('#certiConBtn').click(function(){
		    	let userPw = $('#user_pw').val();
		    	let userPwCon = $('#user_pw_con').val();
		    	
		    	if(userPw == null || userPw == ""){
		    		alert('비밀번호를 입력해주세요.')
		    		$('#user_pw').focus();
		    		return false;
		    	}
		    	
		    	if(userPwCon == null || userPwCon == ""){
		    		alert('비밀번호 확인을 입력해주세요.')
		    		$('#user_pw_con').focus();
		    		return false;
		    	}
		    	
		    	if(userPw == userPwCon){
		    		let userInfo = {
		    				userEmail,
		    				userPw
		    		}
		    		
		    		// 패스워드 변경하는 ajax
		    		$.ajax({
						type : 'POST',
						url : 'login/api/resetPw',
						data : JSON.stringify(userInfo),
						dataType :'json',
						contentType: "application/json; charset=UTF-8",
						success : function(data) {
							if(data.result == 1){
								alert('비밀번호가 변경 됐습니다.');
								 location.href = "/login";
							} else {
								alert('등록되지 않은 이메일입니다.');
							}
							
			            },
			            error : function(error) {
			            	console.log("error :: ", error);
			            }
					});
		    	} else {
		    		alert('비밀번호가 다릅니다.');
		    	}
		    });
		});
	</script>
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

</body>

</html>