<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoCo - 회원가입</title>

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

	<!-- 제이쿼리 적용 -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

	<!-- 다음 우편주소 api 적용 -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                            </div>
                            <!-- 가입 폼 시작 -->
                            <form class="user">
                            	<!-- 이메일 입력 -->
                                <div class="form-group row ml-2">
                                    <input type="email" class="form-control form-control-user col-sm-10 ml-2" id="user_email"
                                        placeholder="이메일을 입력해주세요." style="width: 600px">
                                    <button class="btn btn-secondary btn-sm col-sm-1 ml-3" type="button" id="certiBtn" disabled>인증</button>
                                </div>
                                <!-- 인증번호 입력칸 -->
                                <div class="form-group row ml-2" id="certiSec" style="display:none;">
                                    <input type="email" class="form-control form-control-user col-sm-10 ml-2" id="certi_num"
                                        placeholder="인증번호" style="width: 600px">
                                    <button class="btn btn-secondary btn-sm col-sm-1 ml-3" type="button" id="certiConBtn">확인</button>
                                </div>
                                <!-- 이메일 중복체크 구역 -->
                                <div class="row ml-4 mb-3">
                                	<div id="emailCheck"></div>
                                </div>
                                <!-- 비밀번호 입력 -->
                                <div class="form-group row ml-1">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="user_pw" placeholder="비밀번호" style="width: 95%">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="user_pwCon" placeholder="비밀번호 확인" style="width: 95%">
                                    </div>
                                </div>
                                <!-- 닉네임 입력 -->
                                <div class="form-group row">
                                    <input type="text" class="form-control form-control-user ml-4" id="user_name"
                                        placeholder="닉네임을 입력해주세요." maxlength='8' style="width: 94%">
                                </div>
                                <div class="row ml-4 mb-3">
                                	<div id="nameCheck"></div>
                                </div>
                                <!-- 생년월일 입력 -->
                                <div class="form-group row">
                                	<div class="col">
	                                	<div class="row-6">
	                                		<div class="mb-2" style="text-align: center;">생년월일</div>
	                                	</div>
	                                	<div class="row-6 mb-4" style="text-align: center;">
	                               			<select class="custom-select col-4 ml-3" style="width: 200px" id="selectYear"></select>
	                               			<span class="mr-3">년</span>
	                               			<select class="custom-select col-4" style="width: 150px" id="selectMonth"></select>
	                               			<span class="mr-3">월</span>
	                               			<select class="custom-select col-4" style="width: 150px" id="selectDate"></select>
	                               			<span class="mr-3">일</span>
	                                	</div>
	                                </div>
                                </div>
                                <!-- 주소 입력 -->
                                <div class="form-group row mb-3">
                                	<div class="col">
                                		<div class="row-6">
                                			<div class="mb-2" style="text-align: center;"> 주소 </div>
                                		</div>
                                		<div class="row-6">
                                			<div class="col">
                                				<div class="row-6">
                                					<input type="text" class="form-control form-control-user mb-2" id="address_kakao"
                                        			placeholder="주소" style="width: 100%">
                                				</div>
                                				<div class="row-6">
                                					<input type="text" class="form-control form-control-user" id="address_kakao_detail"
                                        			placeholder="상세주소" style="width: 100%">
                                				</div>
                                			</div>
                                		</div>
                                	</div>
                                </div>
                            </form>
                            <!-- 가입 폼 끝 -->
                           	<button class="btn btn-primary btn-user btn-block" id="registerBtn">가입하기</button>
                            <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                            
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
    	// 제이쿼리 시작
	    $(document).ready(function(){
			
			// 생년월일 select 세팅 시작
			let nowDate = new Date();
			let year = nowDate.getFullYear();
			let html = "";
			let isCertification = false;
			
			for(let i=year; i > year - 40; i--){
				html += "<option value="+i+">"+i+"</option>"
			}
			$("#selectYear").append(html);
			html = "";
			for(let i = 1; i < 13; i++){
				html += "<option value="+i+">"+i+"</option>"				
			}
			$("#selectMonth").append(html);
			html = "";
			for(let i = 1; i < 32; i++){
				html += "<option value="+i+">"+i+"</option>"				
			}
			$("#selectDate").append(html);
			html = "";
			// 생년월일 select 세팅 끝

			// 이메일 중복체크 시작
			$("#user_email").keyup(function(){
				
				let userEmail = $("#user_email").val();
				
				// 이메일 유효성검사
				let emailVal = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
				
				// 이메일 유효성이 맞을 때 
				if(emailVal.test(userEmail)){
					// 이메일 값이 있을 때 중복체크 검사
					if(userEmail != null && userEmail !=""){
						$.ajax({
				            async: true,
				            type : 'POST',
				            data : userEmail,
				            url : "api/emailCheck",
				            dataType : "json",
				            contentType: "application/json; charset=UTF-8",
				            success : function(data) {
				            	
				            	// 중복된 아이디인 경우
				                if (data.result == 1) {
				                    $('#emailCheck').css('color','red')
	               					$('#emailCheck').html("* 중복된 이메일입니다.")
	               					
	               					$('#certiBtn').attr("disabled", true);
				                // 중복되지 않은 아이디인 경우
				                } else {
				                	$('#emailCheck').css('color','green')
				                    $('#emailCheck').html("* 사용가능한 이메일입니다.")
				                    
				                    $('#certiBtn').removeAttr("disabled");
				                }
				            },
				            error : function(error) {
				            	alert("이메일을 입력해주세요.");
				            }
				        });
					}
				
				// 이메일 유효성이 맞지 않을 때
				} else {
					$('#emailCheck').html("")
					$('#certiBtn').attr("disabled", true);
				}
			});
			// 이메일 중복체크 끝
			
			// 닉네임 중복체크 시작
			$("#user_name").keyup(function(){
				let userName = $("#user_name").val();
				
				// 닉네임 유효성 검사
				let specialCheck = /[`~!@#$%^&*|\\\'\";:\/?]/gi;
				
				if(userName != null && userName !=""){
					// 빈칸 유효성
					if(userName.search(/\s/) != -1) {
						$('#nameCheck').css('color','red')
       					$('#nameCheck').html("* 닉네임에 빈칸을 포함할 수 없습니다.")
					} else if(specialCheck.test(userName)) {
						$('#nameCheck').css('color','red')
       					$('#nameCheck').html("* 닉네임에 특수문자를 포함할 수 없습니다.")
					} else {
						$.ajax({
				            async: true,
				            type : 'POST',
				            data : userName,
				            url : "api/nameCheck",
				            dataType : "json",
				            contentType: "application/json; charset=UTF-8",
				            success : function(data) {
				            	
				            	// 중복된 닉네임인 경우
				                if (data.result == 1) {
				                    $('#nameCheck').css('color','red')
	               					$('#nameCheck').html("* 중복된 닉네임입니다.")
				                // 중복되지 않은 닉네임인 경우
				                } else {
				                	$('#nameCheck').css('color','green')
				                    $('#nameCheck').html("* 사용가능한 닉네임입니다.")
				                }
				            },
				            error : function(error) {
				            	alert("닉네임을 입력해주세요.");
				            }
				        });
					}
				} else {
					$('#nameCheck').html("")
				}
				
			});
			// 닉네임 중복체크 끝
			
			// 다음 주소 api 시작
			$("#address_kakao").click(function(){
				new daum.Postcode({
			        oncomplete: function(data) {
			            $("#address_kakao").val(data.address);
			            $("#address_kakao_detail").focus();
			        }
			    }).open();
			});
			// 다음 주소 api 끝
			
			// 인증버튼 클릭 시작
			$('#certiBtn').click(function(){
				console.log('인증버튼 클릭');
				
				let userEmail = $("#user_email").val();
				console.log("userEmail :: ", userEmail);
				
				$.ajax({
					type : 'POST',
					url : 'api/certiEmail',
					data : userEmail,
					dataType :'json',
					contentType: "application/json; charset=UTF-8",
					success : function(data) {
						console.log("data.key :: ", data.key);
						
						$('#certiConBtn').click(function(){
							console.log('확인 키 클릭');
							
							// 인증 키 값이 일치할 경우
							if(data.key == $('#certi_num').val()){
								alert('인증 되었습니다.');
								
								$('#certiSec').hide();
								
								$('#certiBtn').html('인증완료');
								$("#certiBtn").css( "font-size", "10px" );
								$("#certiBtn").attr('class','btn btn-primary btn-sm col-sm-1 ml-3');
								$('#certiBtn').attr("disabled", true);
								
								$('#user_email').attr("disabled", true);
								isCertification = true; //추후 인증 여부를 알기위한 값
							// 인증 키 값이 다를 경우
							} else {
								alert('인증번호가 일치하지 않습니다.');
							}
							
						});
						
		            },
		            error : function(error) {
		            	console.log("error :: ", error);
		            }
				});
				
			alert("인증번호가 전송되었습니다.") 
			$('#certiSec').show();
			
			});
			// 인증버튼 클릭 끝
			
			// 가입하기 버튼 클릭 시작
			$('#registerBtn').click(function(){
				console.log('가입하기 버튼 클릭');
				let userEmail = $("#user_email").val();
				let userPw = $("#user_pw").val();
				let userPwCon = $("#user_pwCon").val();
				let userName = $("#user_name").val();
				let userBirth = $("#selectYear").val() + "/" + $("#selectMonth").val() + "/" + $("#selectDate").val();
				let addrKaKao = $("#address_kakao").val();
				let addrKaKaoDetail = $("#address_kakao_detail").val();
				let userAddr = addrKaKao + "/" + addrKaKaoDetail;
				
				if(userEmail == null || userEmail == ""){
					alert('이메일을 입력해주세요.');
					$("#user_email").focus();
					return false;
				}
				if(isCertification == false){
					alert('이메일 인증을 해주세요.');
					$("#user_email").focus();
					return false;
				}
				if(userPw == null || userPw == ""){
					alert('비밀번호를 입력해주세요.');
					$("#user_pw").focus();
					return false;
				}
				if(userPwCon == null || userPwCon == ""){
					alert('비밀번호 확인을 입력해주세요.');
					$("#user_pwCon").focus();
					return false;
				}
				if(userPw != userPwCon){
					alert('비밀번호가 일치하지 않습니다.');
					$("#user_pwCon").focus();
					return false;
				}
				if(userName == null || userName == ""){
					alert('닉네임을 입력해주세요.');
					$("#user_name").focus();
					return false;
				}
				if(addrKaKao == null || addrKaKao == ""){
					alert('주소를 입력해주세요.');
					$("#address_kakao").focus();
					return false;
				}
				if(addrKaKaoDetail == null || addrKaKaoDetail == ""){
					alert('상세주소를 입력해주세요.');
					$("#address_kakao_detail").focus();
					return false;
				}
				
				let userInfo = {
					userEmail,
	           		userPw,
	           		userName,
	           		userBirth,
	           		userAddr
			    };
				
				console.log('가입하기 api 전송');
				console.log('userInfo : ', userInfo);
				
				$.ajax({
		            async: true,
		            type : 'POST',
		            data : JSON.stringify(userInfo),
		            url : "api/userRegister",
		            dataType : "json",
		            contentType: "application/json; charset=UTF-8",
		            success : function(data) {
		            	console.log('data : ', data);
		            	if(data.result == 1){
		            		alert('회원가입이 완료 됐습니다.');
		            		// 로그인 창으로 이동
		            		location.href="../login";
		            	} else {
		            		alert('회원가입 에러');
		            	}
		            },
		            error : function(error) {
		            	console.log('error : ', error);
		            }
		        });				
			});
			// 가입하기 버튼 클릭 끝
		});
    	// 제이쿼리 끝
    </script>
	
	<!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>
	
</body>

</html>