<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoCo - 관리자페이지</title>

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">
    
    <!-- 제이쿼리 적용 -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	
	<style type="text/css">
		.titleEllipsis {
	        overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-line-clamp: 1; /* 라인수 */
		    -webkit-box-orient: vertical;
		    word-wrap:break-word; 
		    line-height: 1.2em;
		    height: 1.2em; /* line-height 가 1.2em 이고 5라인을 자르기 때문에 height는 1.2em * 5 = 6em */
		    width: 200px;
	    }
	</style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- 사이드 바 시작 -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
				<div class="sidebar-brand-text mx-3">Covid Community</div>
			</a>
			
			<!-- Divider -->
			<hr class="sidebar-divider">

			<li class="nav-item">
				<a class="nav-link" th:href="@{/}">
					<i class="fas fa-home"></i>
					<span>홈</span>
				</a>
			</li>

			<!-- Nav Item - Tables -->
			<li class="nav-item">
				<a class="nav-link" th:href="@{/review/list}">
					<i class="fas fa-fw fa-table"></i>
					<span>후기 게시판</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" th:href="@{/defStatus}">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>발생현황</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/vaccinationStatus}">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>접종현황</span></a>
			</li>
			<div th:if="${loginDTO}">
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#myPageDetail"
						aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-user"></i>
						<span>마이페이지</span>
					</a>
					<div id="myPageDetail" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">계정</h6>
							<a class="collapse-item" th:href="@{../myPage/myInfo}">내정보 관리</a>
							<h6 class="collapse-header">글 관리</h6>
							<a class="collapse-item" th:href="@{../myPage/myBoardList}">내가 쓴 글</a>
							<a class="collapse-item" th:href="@{../myPage/myComment}">내 댓글</a>
							<a class="collapse-item" th:href="@{../myPage/myLike}">좋아요 누른 글</a>
						</div>
					</div>
				</li>
			</div>
			<div th:if="${loginDTO}">
				<div th:if="${loginDTO.userRole == 'ROLE_ADMIN'}">
					<li class="nav-item active">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#adminPageDetail"
							aria-expanded="true" aria-controls="collapseTwo">
							<i class="fas fa-fw fa-cog"></i>
							<span>관리자페이지</span>
						</a>
						<div id="adminPageDetail" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded">
								<a class="collapse-item" th:href="@{../admin/userManagement}">유저 관리</a>
								<a class="collapse-item active" th:href="@{../admin/boardManagement}">게시글 관리</a>
							</div>
						</div>
					</li>
				</div>
			</div>
		</ul>
		<!-- 사이드 바 끝 -->


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- 상단 네비바 시작 -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<ul class="navbar-nav ml-auto">
						<!-- Nav Item - Alerts -->
						<div th:if="${loginDTO}">
							<!-- 회원 닉네임 보이는 구역 시작 -->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<div th:if="${loginDTO}">
										<span th:text="${loginDTO.userNickName}" style="color: black;" class="mr-2"></span>
									</div>
								</a>
								<!-- 닉네임 클릭시 드롭다운 -->
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
									aria-labelledby="userDropdown">
									<a class="dropdown-item" th:href="@{/myPage/myInfo}">
										<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
										마이페이지
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" data-toggle="modal" style="cursor: pointer;" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										로그아웃
									</a>
								</div>
							</li>
							<!-- 회원 닉네임 보이는 구역 끝 -->
						</div>
						<div th:unless="${loginDTO}">
							<a class="mt-4 mr-3" id="logInTxt" style="cursor: pointer;" th:href="@{/login}">로그인</a>
							<a class="mt-4" id="signUpTxt" style="cursor: pointer;" th:href="@{/register}">회원가입</a>
						</div>
					</ul>
				</nav>
				<!-- 상단 네비바 끝 -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">게시글 관리</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                        
	                        	<fieldset class="form-group row">
									<legend class="col-form-label col-sm-2 float-sm-left pt-0 mt-2 ml-1" style="max-width: 6.66667%;">검색</legend>
									<div class="row" style="width: 500px">
										<!-- 셀렉트 박스 -->
										<select class="form-control ml-2 mr-2" id="selectVal" style="width: 20%">
										    <option value="title">제목</option>
										    <option value="writer">글쓴이</option>
										</select>
										
										<!-- 인풋 박스 -->
										<input class="mr-2 form-control" type="text" id="inputVal" style="width: 40%">
										
										<!-- 검색 버튼 -->
										<button class="btn btn-dark" id="searchButton" style="height: 98%">검색</button>
										
									</div>
								</fieldset>
	                        
	                        	<table class="table">
								  <thead>
								    <tr>
								      <th scope="col"></th>
								      <th scope="col">제목</th>
								      <th scope="col">글쓴이</th>
								      <th scope="col">백신카테고리</th>
								      <th scope="col">조회수</th>
								      <th scope="col">좋아요수</th>
								      <th scope="col">댓글수</th>
								      <th scope="col">등록일자</th>
								      <th scope="col">공지사항 여부</th>
								      <th scope="col">삭제 여부</th>
								      <th scope="col"></th>
								    </tr>
								  </thead>
								  <tbody id="cardBody"></tbody>
								</table>
							<nav aria-label="Page navigation example">
							  	<ul class="pagination" id="pageNum" style="padding-left: 40%;"></ul>
							</nav>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- 푸터 시작 -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; CovidCommunity 2022</span>
					</div>
				</div>
			</footer>
			<!-- 푸터 끝 -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- 로그아웃 모달 -->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">정말 로그아웃 하시겠습니까?</div>
				<div class="modal-footer">
					<a class="btn btn-primary" th:href="@{/logout}">확인</a>
					<button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$(document).ready(function() {
		
		// 현재 페이지
		let rbNowPage = 1;
		// 페이지당 보여줄 개수
		let pageSize = 10;
		// 한 화면에 보여줄 페이지 번호의 개수 (페이지 블록)
		let pageBlock = 5;
		// 게시글 전체 개수
		let totalCnt = 0;
		
		// 게시글 리스트 가져오는 메소드
		function boardList(){
			
			// 페이지별 시작 행
			let startRow = (rbNowPage-1)*pageSize;
			// 게시글 목록 초기화
			let cardHtml = "";
			// select 값
			let selectVal = $('#selectVal').val();
			// input 값
			let inputVal = $('#inputVal').val();
			
			let reqInfo = {
				startRow,
				selectVal,
				inputVal
			};
			
			$.ajax({
				type : 'GET',
				url : '../admin/api/boardList',
				data : reqInfo,
				dataType :'json',
				contentType: "application/json; charset=UTF-8",
				success : function(data) {
					console.log("data.list :: ", data.list);
					console.log("data.totalCnt :: ", data.totalCnt);
					let resData = data.list;
					
					if(data.list.length > 0){
						for(let i in resData){
							
							let regDate = resData[i].rbRegisterDate.substring(0,10);
							
							cardHtml += `<tr>
										  <td><span id="boardId" value="${resData[i].rbId}">${resData[i].rbId}</span></td>
										  <td>
										  <div class="titleEllipsis">
										  	<span onclick="location.href='../review/detail/${resData[i].rbId}'" style="cursor:pointer;">${resData[i].rbTitle}</span></td>
										  </div>
										  <td>${resData[i].uNickName}</td>
									      <td>
									      <select id="rbVaccineKind" class="form-control" style="width:180px;">`
									      	if("1" == resData[i].rbVaccineKind){
		      			cardHtml +=				`<option value="1" selected>화이자</option>
		      									<option value="2">모더나</option>
		      									<option value="3">얀센</option>
											    <option value="4">아스트라제네카</option>`
									      	} else if ("2" == resData[i].rbVaccineKind){
			      		cardHtml += 		  	`<option value="1">화이자</option>
												<option value="2" selected>모더나</option>
												<option value="3">얀센</option>
											    <option value="4">아스트라제네카</option>`
									      	} else if ("3" == resData[i].rbVaccineKind){
			      		cardHtml += 		  	`<option value="1">화이자</option>
												<option value="2">모더나</option>
												<option value="3" selected>얀센</option>
											    <option value="4">아스트라제네카</option>`
										    } else {
			      		cardHtml += 		  	`<option value="1">화이자</option>
												<option value="2">모더나</option>
												<option value="3">얀센</option>
											    <option value="4" selected>아스트라제네카</option>`
										    }
   						cardHtml += 	 `</select>
									      </td>
									      
									      <td>${resData[i].rbViewCnt}</td>
										  <td>${resData[i].rbLikeCnt}</td>
										  <td>${resData[i].rbCmtCnt}</td>
										  <td>${regDate}</td>
									      
									      
									      
									      <td class="text-center" id="uEnabled">
									      	<select class="form-control" id="rbNoticeYn" style="width:100px;">`
									      	
									      		if('Y' == resData[i].rbNoticeYn){
							cardHtml +=			    `<option value="Y" selected>Y</option>
										      		<option value="N">N</option>`
									      		} else {
							cardHtml +=		   		`<option value="Y">Y</option>
										      		<option value="N" selected>N</option>`
									      		}
									      		
							cardHtml +=		`</select>
									      </td>
									      <td>
									      <select class="form-control" id="rbDeleteYn" style="width:100px;">`
										      
										      if('Y' == resData[i].rbDeleteYn){
							cardHtml +=			`<option value="Y" selected>Y</option>
								      			<option value="N">N</option>`
										      } else {
							cardHtml +=		  	`<option value="Y">Y</option>
								      			<option value="N" selected>N</option>`
										      }
							cardHtml +=	 `</select>
									      </td>
									      <td><button class="btn-sm btn-dark" id="subBtn" onclick="boardUpdate()")>수정</button></td>
									    </tr>`
						}
						
					}
					$('#cardBody').html(cardHtml);

					
					
					// 페이지 네이션 그리기
					drawPagination(data.totalCnt, 0);
					totalCnt = data.totalCnt;
					
	            },
	            error : function(error) {
	            	console.log("error :: ", error);
	            }
			});
		} 
		
		function drawPagination(totalCnt, num){
			// 페이징처리 그리기
			let pageNum = "";
			// 전체 페이지 수
			let pageCount = parseInt(totalCnt/pageSize+(totalCnt % pageSize == 0? 0:1));
			// 페이징처리에 보여질 페이지 넘버
			let block_num = parseInt((rbNowPage - 1) / pageBlock) + num;
			// 페이지 블록의 시작페이지 번호
			let startPage = (pageBlock * block_num) + 1
			// 페이지 블록의 끝 페이지 번호
			let endPage = startPage + (pageBlock - 1)
			
			if(endPage > pageCount){
				endPage = pageCount;
			}
			if(startPage > pageBlock){
				pageNum += `<li class="page-item" style="cursor: pointer;">
						        <span class="page-link" aria-hidden="true" name="pre">&laquo;</span>
						    </li>`
			}
			for(let i = startPage; i <= endPage; i++){
				if(rbNowPage == i){
					pageNum += `<li class="page-item active" style="cursor: pointer;"><span class="page-link" name="num">${i}</span></li>`
				} else {
					pageNum += `<li class="page-item" style="cursor: pointer;"><span class="page-link" name="num">${i}</span></li>`	
				}
				
			}
			
			if(endPage < pageCount){
			    pageNum += `<li class="page-item" style="cursor: pointer;">
						        <span class="page-link" aria-hidden="true" name="next">&raquo;</span>
						    </li>`
			}
			
			$('#pageNum').html(pageNum);
			
			// 페이지 네이션 넘버 클릭 시
			$(".pagination li span[name='num']").click(function(){
				rbNowPage = $(this).text();
				boardList();
			});
			// 페이지 네이션 다음 클릭 시
			$(".pagination li span[name='next']").click(function(){
				rbNowPage = startPage + pageBlock;
				drawPagination(totalCnt, 0);
				boardList();
			});
			// 페이지 네이션 이전 클릭 시
			$(".pagination li span[name='pre']").click(function(){
				drawPagination(totalCnt, -1);
				rbNowPage = startPage - pageBlock;
				boardList();
			});
			
		}
		
		// 페이지 접근시 게시글 가져오기
		boardList();
		
		// 검색 버튼 클릭 시
		$('#searchButton').click(function(){
			rbNowPage = 1;
			boardList();
		});
		
		// 검색창 엔터 클릭 시
		$("#inputVal").keydown(function(key) {
            if (key.keyCode == 13) {
            	rbNowPage = 1;
				boardList();
            }
        });
		
	});
	
	function boardUpdate(){
		
		let rbId = $('#boardId').text();
		let rbVaccineKind = $('#rbVaccineKind').val();
		let rbNoticeYn = $('#rbNoticeYn').val();
		let rbDeleteYn = $('#rbDeleteYn').val();
		
		let boardInfo = {
				rbId,
				rbVaccineKind,
				rbNoticeYn,
				rbDeleteYn
		}
		
		console.log('boardInfo : ', boardInfo);
		
		$.ajax({
			type : 'PUT',
			url : '../admin/api/boardUpdate',
			data : JSON.stringify(boardInfo),
			dataType :'json',
			contentType: "application/json; charset=UTF-8",
			success : function(data) {
				console.log(data);
				if(data == 1){
					alert('게시글 수정 완료');
				} else {
					alert('게시글 수정 실패');
				}
				
            },
            error : function(error) {
            	console.log("error :: ", error);
            }
		});
	}
	
	</script>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>
</body>

</html>