<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoCo - 발생현황</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
	<!-- 제이쿼리 적용 -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- 사이드 바 시작 -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
				<div class="sidebar-brand-text mx-3">Covid Community</div>
			</a>
			
			<!-- Divider -->
			<hr class="sidebar-divider">

			<li class="nav-item">
				<a class="nav-link" th:href="@{/}">
					<i class="fas fa-home"></i>
					<span>홈</span>
				</a>
			</li>

			<!-- Nav Item - Tables -->
			<li class="nav-item">
				<a class="nav-link" th:href="@{/review/list}">
					<i class="fas fa-fw fa-table"></i>
					<span>후기 게시판</span>
				</a>
			</li>

			<li class="nav-item active">
				<a class="nav-link" th:href="@{/defStatus}">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>발생현황</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/vaccinationStatus}">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>접종현황</span></a>
			</li>
			<div th:if="${loginDTO}">
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#myPageDetail"
						aria-expanded="true" aria-controls="collapseTwo">
						<i class="fas fa-user"></i>
						<span>마이페이지</span>
					</a>
					<div id="myPageDetail" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">계정</h6>
							<a class="collapse-item" th:href="@{myPage/myInfo}">내정보 관리</a>
							<h6 class="collapse-header">글 관리</h6>
							<a class="collapse-item" th:href="@{myPage/myBoardList}">내가 쓴 글</a>
							<a class="collapse-item" th:href="@{myPage/myComment}">내 댓글</a>
							<a class="collapse-item" th:href="@{myPage/myLike}">좋아요 누른 글</a>
						</div>
					</div>
				</li>
			</div>
			<div th:if="${loginDTO}">
				<div th:if="${loginDTO.userRole == 'ROLE_ADMIN'}">
					<li class="nav-item">
						<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#adminPageDetail"
							aria-expanded="true" aria-controls="collapseTwo">
							<i class="fas fa-fw fa-cog"></i>
							<span>관리자페이지</span>
						</a>
						<div id="adminPageDetail" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
							<div class="bg-white py-2 collapse-inner rounded">
								<a class="collapse-item" th:href="@{admin/userManagement}">유저 관리</a>
								<a class="collapse-item" th:href="@{admin/boardManagement}">게시글 관리</a>
							</div>
						</div>
					</li>
				</div>
			</div>
		</ul>
		<!-- 사이드 바 끝 -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- 상단 네비바 시작 -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<ul class="navbar-nav ml-auto">
						<!-- Nav Item - Alerts -->
						<div th:if="${loginDTO}">
							<!-- 회원 닉네임 보이는 구역 시작 -->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<div th:if="${loginDTO}">
										<span th:text="${loginDTO.userNickName}" style="color: black;" class="mr-2"></span>
									</div>
								</a>
								<!-- 닉네임 클릭시 드롭다운 -->
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
									aria-labelledby="userDropdown">
									<a class="dropdown-item" th:href="@{/myPage/myInfo}">
										<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
										마이페이지
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" data-toggle="modal" style="cursor: pointer;" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										로그아웃
									</a>
								</div>
							</li>
							<!-- 회원 닉네임 보이는 구역 끝 -->
						</div>
						<div th:unless="${loginDTO}">
							<a class="mt-4 mr-3" id="logInTxt" style="cursor: pointer;" th:href="@{/login}">로그인</a>
							<a class="mt-4" id="signUpTxt" style="cursor: pointer;" th:href="@{/register}">회원가입</a>
						</div>
					</ul>
				</nav>
				<!-- 상단 네비바 끝 -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">발생현황</h1>

                    <!-- Content Row 시작 -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <!-- Area Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">전국 발생현황</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row text-center mb-3">
                                    	<div class="col">
                                    		<div><h5>총 확진자 수</h5></div>
                                    		<div>
                                    			<h4>
	                                    			<span id="defCnt"></span>
	                                    			<span>명</span>
                                    			</h4>
                                    		</div>
										</div>
                                    </div>
                                    <div class="row">
                                    	<div class="col-4 text-right">
                                    		<div>신규 확진자 수</div>
                                    		<div>
                                    			<span id="incDec"></span>
                                    			<span style="color: red;">▲</span>
                                    		</div>

										</div>
                                    	<div class="col-4 text-center">
                                    		<div>10만명당 발생 수</div>
                                    		<div>
                                    			<span id="qurRate"></span>
                                    			<span>명</span>
                                    		</div>
										</div>
										<div class="col-4">
                                    		<div>사망자 수</div>
                                    		<div>
	                                   			<span id="deathCnt"></span>
	                                   			<span>명</span>
                                    		</div>
										</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Bar Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">지역별 발생현황</h6>
                                </div>
                                <div class="card-body">
                                	<table class="table">
									  <thead>
									    <tr class="text-center">
									      <th scope="col">지역</th>
									      <th scope="col">총 확진자 수</th>
									      <th scope="col">신규 확진자 수</th>
									      <th scope="col">10만명당 발생자 수</th>
									      <th scope="col">사망자 수</th>
									    </tr>
									  </thead>
									  <tbody id="tbd"></tbody>
									</table>
                                </div>
                            </div>

                        </div>

                    </div>
					<!-- Content Row 끝 -->
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- 푸터 시작 -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; CovidCommunity 2022</span>
					</div>
				</div>
			</footer>
			<!-- 푸터 끝 -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- 로그아웃 모달 -->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">정말 로그아웃 하시겠습니까?</div>
				<div class="modal-footer">
					<a class="btn btn-primary" th:href="@{/logout}">확인</a>
					<button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		$(document).ready(function() {
			
			$.ajax({
				type : 'GET',
				url : 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson?serviceKey=wtMZjBn6VpRJGD8MbHV2dLgwn0TWIoCd%2FaY7UeZZVLkjqqIRobA%2FfbOGZoXiU8SUu%2BZvtnvp%2BRBxYeT1KX9L%2FA%3D%3D',
				dataType :'json',
				success : function(data) {
					console.log("data2 : ", data.response.body.items.item)
					let defData = data.response.body.items.item;
					let tbdHtml = "";
					
					
					$('#defCnt').text(numberWithCommas(defData[18].defCnt));
					$('#incDec').text(numberWithCommas(defData[18].incDec));
					$('#qurRate').text(numberWithCommas(defData[18].qurRate));
					$('#deathCnt').text(numberWithCommas(defData[18].deathCnt));
					
					for(let i=defData.length -2; i > -1; i--){
						// console.log(result[i]);
						
						tbdHtml +=  `<tr class="text-center">
								      <th scope="col">${defData[i].gubun}</th>
								      <th scope="col">${numberWithCommas(defData[i].defCnt)}<span class="ml-1">명</span></th>
								      <th scope="col">${numberWithCommas(defData[i].incDec)}<sapn class="ml-1" style="color: red;">▲</span></th>
								      <th scope="col">${numberWithCommas(defData[i].qurRate)}<span class="ml-1" >명</span></th>
								      <th scope="col">${numberWithCommas(defData[i].deathCnt)}<sapn class="ml-1">명</span></th>
								    </tr>`
					}
					
					$('#tbd').html(tbdHtml);
	            },
	            error : function(error) {
	            	console.log("error :: ", error);
	            }
			});
			
		});
		
		// 숫자 , 찍기 함수
		function numberWithCommas(x){
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}
	</script>
	
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    
    <!-- 차트.js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


</body>

</html>