<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coco.project.admin.AdminMapper">

	<!-- 관리자페이지 - 유저정보 리스트 -->
	<select id="userList" resultType="hashmap">
		SELECT
			u_id 		AS uId,
			u_email 	AS uEmail,
			u_social 	AS uSocial,
			u_pw 		AS uPw,
			u_nickname 	AS uNickName,
			u_birth 	AS uBirth,
			u_addr 		AS uAddr,
			u_role 		AS uRole,
			u_regDate 	AS uRegDate,
			u_enabled 	AS uEnabled
		FROM
			user_info ui
		<where>
			<if test="inputVal != null and inputVal != ''">
				<if test="selectVal == 'email'">
					AND u_email LIKE CONCAT('%', #{inputVal}, '%')
				</if>
				<if test="selectVal == 'nickName'">
					AND u_nickName LIKE CONCAT('%', #{inputVal}, '%')
				</if>
			</if>
		</where>
		ORDER by
			u_regDate DESC
		LIMIT
			10 OFFSET ${startRow};
	</select>
	
	<!-- 관리자페이지 - 유저리스트 총 개수 -->
	<select id="userListCnt" resultType="int">
		SELECT
			count(*)	AS totalCnt
		FROM
			user_info
	</select>
	
	<!-- 관리자페이지 - 유저정보 수정 -->
	<update id="userUpdate">
		UPDATE
			user_info
	   SET
	   		u_role = #{userRole},
	   		u_enabled = #{userEnabled}
	   		<if test="userPw != null and userPw !=''">,u_pw = #{userPw}</if>
	      	<if test="userNickName != null and userNickName !=''">,u_nickname = #{userNickName}</if>
	      	<if test="userBirth != null and userBirth !=''">,u_birth = #{userBirth}</if>
	      	<if test="userAddr != null and userAddr !=''">,u_addr = #{userAddr}</if>
		WHERE
			u_id = #{userId}
	</update>
	
</mapper>