<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coco.project.login.LoginMapper">

	<!-- 로그인 -->
    <select id="getUserAccount" resultType="com.coco.project.login.LoginDTO">
        SELECT
        	u_email 	AS userEmail,
        	u_pw 		AS userPw,
        	u_nickname 	AS userNickName,
        	u_birth 	AS userBirth,
        	u_addr		AS userAddr,
         	u_role 		AS userRole,
         	u_enabled	AS userEnabled
        FROM
        	user_info
        WHERE
        	u_email = #{userEmail}
    </select>


</mapper>