<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coco.project.myPage.MyPageMapper">

	<select id="nickNameCheck" parameterType="com.coco.project.register.RegisterDTO" resultType="Integer">
		SELECT
			count(*)
		FROM
			user_info
		WHERE
			u_nickname = #{userNickName} and u_id != #{userId};
	</select>

	<update id="updateUserInfo">
		UPDATE
			user_info SET u_pw = #{userPw}, u_nickname = #{userNickName}, u_birth = #{userBirth}, u_addr = #{userAddr}
		WHERE
			u_id = #{userId}
	</update>
	
	<!-- 마이페이지 - 내가 쓴 글 리스트 -->
	<select id="myBoardList" resultType="hashmap">
		SELECT
			rb_id 						AS rbId,
			rb_title 					AS rbTitle,
			rb_content 					AS rbContent,
			rb_view_cnt 				AS rbViewCnt,
			rb_register_date 			AS rbRegisterDate,
			rb_update_date  			AS rbUpdateDate,
			rb_writer 					AS rbWriter,
			rb_notice_yn 				AS rbNoticeYn,
			rb_vaccine_kind 			AS rbVaccineKind,
			rb_file_name				AS rbFileName,
			IFNULL(rb_file_path, '')	AS rbFilePath,
			(select
				count(*)
			from
				review_like
			where
				rl_board = rbId) AS rbLikeCnt,
			(select
				count(*)
			from
				review_comment
			where
				rc_board = rbId AND rc_delete_yn = 'N')	AS rbCmtCnt
		FROM
			review_board rb
		WHERE
			rb_delete_yn = 'N' AND rb_writer = #{userId}
		ORDER by
			rb_register_date DESC
		limit
			8 OFFSET ${startRow}
	</select>
	
	<!-- 마이페이지 - 내가 쓴 글 총 개수 -->
	<select id="myBoardListCnt" resultType="int">
		SELECT
			count(*)	AS totalCnt
		FROM
			review_board
		WHERE
			rb_delete_yn = 'N' AND rb_writer = #{userId}
	</select>
	
	<!-- 마이페이지 - 내 댓글 -->
	<select id="myComment" resultType="hashmap">
		SELECT
			rc_id				AS rcId,
			rc_content 			AS rcContent,
			rc_writer  			AS rcWriter,
			rc_board			AS rcBoard,
			rc_register_date 	AS rcRegisterDate,
			rc_delete_yn		AS rcDeleteYn,
			rb_id				AS rbId,
			rb_title			AS rbTitle,
			rb_content 			AS rbContent,
			rb_writer 			AS rbWriter,
			rb_view_cnt 		AS rbViewCnt,
			rb_register_date 	AS rbRegisterDate,
			IFNULL(rb_file_path, '')	AS rbFilePath,
			rb_vaccine_kind		AS rbVaccineKind,
			ui.u_nickname 		AS uNickName,
			(SELECT
				count(*)
			FROM
				review_like
			WHERE
				rl_board = rbId)		AS rbLikeCnt,
			(SELECT
				count(*)
			FROM
				review_comment
			WHERE
				rc_board = rbId AND rc_delete_yn = 'N')		AS rbCmtCnt
		FROM
			review_comment rc
		JOIN
			review_board rb ON rc_board = rb.rb_id
		JOIN
			user_info ui ON rb.rb_writer = ui.u_id
		WHERE
			rc_delete_yn = 'N' AND rc_writer = #{userId}
		ORDER BY
			rc_register_date DESC
		LIMIT
			8 OFFSET ${startRow}
	</select>
	
	<!-- 마이페이지 내 댓글 총 개수 -->
	<select id="myCommentCnt" resultType="int">
		SELECT
			count(*)	AS totalCnt
		FROM
			review_comment
		WHERE
			rc_delete_yn = 'N' AND rc_writer = #{userId}
	</select>
</mapper>