<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coco.project.review.ReviewMapper">

	<sql id="selectAll">
		SELECT
			rb_id 				AS rbId,
			rb_title 			AS rbTitle,
			rb_content 			AS rbContent,
			rb_view_cnt 		AS rbViewCnt,
			rb_register_date 	AS rbRegisterDate,
			rb_update_date  	AS rbUpdateDate,
			rb_writer 			AS rbWriter,
			rb_notice_yn 		AS rbNoticeYn,
			rb_vaccine_kind 	AS rbVaccineKind,
			rb_file_name		AS rbFileName,
			IFNULL(rb_file_path, '')	AS rbFilePath
	</sql>  


	<!-- 후기 게시판 - 글쓰기 -->
	<insert id="reviewBoardWrite" parameterType="com.coco.project.register.RegisterDTO">
		<choose>
			<when test="rbFileName != ''">
				INSERT INTO review_board(rb_title, rb_content, rb_writer, rb_vaccine_kind, rb_file_name, rb_file_path)
				VALUES(#{rbTitle}, #{rbContent}, #{rbWriter}, #{rbVaccineKind}, #{rbFileName}, #{rbFilePath})
			</when>
			<otherwise>
				INSERT INTO review_board(rb_title, rb_content, rb_writer, rb_vaccine_kind)
				VALUES(#{rbTitle}, #{rbContent}, #{rbWriter}, #{rbVaccineKind})
			</otherwise>
		</choose>
	</insert>
	
	<!-- 후기 게시판 - 게시글 총 개수 가져오기 -->
	<select id="reviewTotalCnt" resultType="int">
		SELECT
			count(*)	AS totalCnt
		FROM
			review_board
		<where>
			rb_delete_yn = 'N'
			<if test="rbInput != null and rbInput != ''">
				<if test="rbSelect == 'title'">
					AND rb_title LIKE CONCAT('%', #{rbInput}, '%')
				</if>
				<if test="rbSelect == 'content'">
					AND rb_content LIKE CONCAT('%', #{rbInput}, '%')
				</if>
			</if>
			<if test="rbVaccineKind != null and rbVaccineKind != ''">
				AND rb_vaccine_kind = #{rbVaccineKind}
			</if>
		</where>
	</select>
	
	<!-- 후기 게시판 - 게시글 조회 -->
	<select id="reviewBoardList" resultType="hashmap">
		<include refid="selectAll"></include>
		,(SELECT
				count(*)
			FROM
				review_like
			WHERE
				rl_board = rbId)		AS rbLikeCnt,
			(SELECT
				count(*)
			FROM
				review_comment
			WHERE
				rc_board = rbId AND rc_delete_yn = 'N')		AS rbCmtCnt
		FROM
			review_board
		<where>
			rb_delete_yn = 'N'
			<if test="rbInput != null and rbInput != ''">
				<if test="rbSelect == 'title'">
					AND rb_title LIKE CONCAT('%', #{rbInput}, '%')
				</if>
				<if test="rbSelect == 'content'">
					AND rb_content LIKE CONCAT('%', #{rbInput}, '%')
				</if>
			</if>
			<if test="rbVaccineKind != null and rbVaccineKind != ''">
				AND rb_vaccine_kind = #{rbVaccineKind}
			</if>
		</where>
		ORDER BY rb_register_date DESC
		<if test="startRow != null and startRow != ''">
			LIMIT 8 OFFSET ${startRow}
		</if>
	</select>
	
	<!-- 후기 게시판 - 게시글 상세정보 -->
	<select id="reviewBoardDetail" resultType="hashmap">
		<include refid="selectAll"></include>
			,u_nickname			AS uNickName
		FROM
			review_board rb
		JOIN
			user_info ui ON rb.rb_writer = ui.u_id
		WHERE
			rb_id = #{boardId}
	</select>
	
	<!-- 후기 게시판 - 조회수 증가 -->
	<update id="reviewBoardViewCnt">
		UPDATE
			review_board
		SET
			rb_view_cnt = rb_view_cnt + 1
		WHERE
			rb_id = #{boardId}
	</update>
	
	<!-- 후기 게시판 - 게시글 수정 -->
	<update id="reviewBoardUpdate">
		UPDATE
			review_board
		SET
		<choose>
			<when test="rbFilePath != null">
				rb_vaccine_kind = #{rbVaccineKind}, rb_title = #{rbTitle}, rb_content = #{rbContent}, rb_file_name = #{rbFileName}, rb_file_path = #{rbFilePath}
			</when>
			<when test="rbFilePath == null and isUpdated != ''">
				rb_vaccine_kind = #{rbVaccineKind}, rb_title = #{rbTitle}, rb_content = #{rbContent}, rb_file_name = #{rbFileName}, rb_file_path = #{rbFilePath}
			</when>
			<otherwise>
				rb_vaccine_kind = #{rbVaccineKind}, rb_title = #{rbTitle}, rb_content = #{rbContent}
			</otherwise>
		</choose>
		WHERE
			rb_id = #{rbId}
	</update>
	
	<!-- 후기 게시판 - 게시글 삭제 -->
	<update id="reviewBoardDelete">
		UPDATE
			review_board
		SET
			rb_delete_yn = 'Y'
		WHERE
			rb_id = #{boardId}
	</update>
	
	<!-- 후기 게시판 좋아요 총 개수 가져오기 -->
	<select id="reviewLikeCnt" resultType="int">
		SELECT
			count(*)
		FROM
			review_like
		WHERE
			rl_board = #{boardId};
	</select>	
	
	<!-- 후기 게시판 좋아요 활성화 -->
	<select id="reviewLikeActive" resultType="int">
		SELECT
			count(*)
		FROM
			review_like
		WHERE
			rl_user = #{rcWriter} AND rl_board = #{boardId}
	</select>
</mapper>